div
  footer
    .container
      .row
        .col-12
          .division
      .row.desktop
        .col-sm-1.col-md-2.col-lg-2.hidden-xs
          span.detail Offices
        // Desktop
        .visible-md.visible-lg.col-lg-8
          .col-sm-6.col-md-2.col-lg-2
            address
              p.name Mexico City
              p.text Colonia Condesa, Ciudad de M&eacute;xico, 06100
              a.transition(href='tel:525578258810') +52 (55) 7825 8810
              p.time
                span.zone0 02:17:25
                br
                span.temp0 18.56&deg;
          .col-sm-6.col-md-2
            address
              p.name Monterrey
              p.text
                | San Pedro Garza Garc&iacute;a, Nuevo Le&oacute;n, 66220 
                br
                | Mobile: +52 (81) 3447 6171
              a.transition(href='tel:528183366666') +52 (81) 8336-6666
              p.time
                span.zone1 02:17:25
                br
                span.temp1 26.64&deg;
          .col-sm-6.col-md-2
            address
              p.name United States
              p.text
                | Virtual Office 
                br
                | No Address
              a.transition(href='tel:18009506660') +1 800 950 6660
              p.time
                span.zone2 03:17:25
                br
                span.temp2 18.97&deg;
          .col-sm-6.col-md-2
            address
              p.name Tokyo
              p.text
                | Sales Representative
                br
                | Meguro-ku Aobadai 3-14-6
              a.transition(href='tel:8108041453422') +810 80 4145 3422
              p.time
                span.zone3 04:17:25
                br
                span.temp3 20.03&deg;
        .col-sm-1.col-md-2.hidden-xs
                  span.detail Offices
      // Desktop
      .row.visible-sm.visible-md.visible-lg
        .col-sm-4.col-md-3
          span.copyright &copy; 2022 Anagrama. All Rights Reserved.
        .col-sm-8.col-md-9
          ul
            li
              a.transition(href='/press') Press
            // 
            li
              a.transition(href='/careers') Work with Us
            // 
            li
              a.transition(href='/contact#partnership') Partnership
            // 
            li
              a.transition(href='/terms-and-conditions') Your Privacy
            // 
            li
              a.transition(href='/contact') Contact
    
script(src='https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js')
script(src='https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js')
