header
  .container-fluid
    .row.full-header.transition
      .col-sm-2.col-md-3
        ul
          li
            a.transition(target='_blank' href='https://www.instagram.com/firmabrandt/') INSTAGRAM
          li
            a.transition(target='_blank' href='https://www.linkedin.com/company/firmabrandt') LINKEDIN
          li
            a.transition(target='_blank' href='https://www.youtube.com/channel/UC1Y_Ic1SAAHIN0bCpAiTeQg') YOUTUBE
      
      .col-sm-8.col-md-6
        a(href='/')
          img.site-logo(src="/img/BRANDT-LOGO-PANAMA.svg")
        .phrase
          .sliderup.en(style='display: none;') WELCOME TO OUR ONLINE SHOWROOM
          .sliderup.es(style='display: block;') BIENVENIDOS A NUESTRO SHOWROOM VIRTUAL
          .sliderup.jp(style='display: none;') &#x79C1;&#x305F;&#x3061;&#x306E;&#x30DD;&#x30FC;&#x30C8;&#x30D5;&#x30A9;&#x30EA;&#x30AA;&#x3078;&#x3088;&#x3046;&#x3053;&#x305D;
          .sliderup.ru(style='display: none;') &Dcy;&ocy;&bcy;&rcy;&ocy; &pcy;&ocy;&zhcy;&acy;&lcy;&ocy;&vcy;&acy;&tcy;&softcy; &vcy; &ncy;&acy;&shcy; &ocy;&ncy;&lcy;&acy;&jcy;&ncy;-&shcy;&ocy;&ucy;&rcy;&ucy;&mcy;
          .sliderup.ko(style='display: none;') &#xC6B0;&#xB9AC; &#xC628;&#xB77C;&#xC778; &#xC1FC;&#xB86C;&#xC5D0; &#xC624;&#xC2E0;&#xAC78; &#xD658;&#xC601;&#xD569;&#xB2C8;&#xB2E4;
          .sliderup.ar(style='display: none;') &#x645;&#x631;&#x62D;&#x628;&#x627; &#x628;&#x643;&#x645; &#x641;&#x64A; &#x645;&#x639;&#x631;&#x636;&#x646;&#x627; &#x639;&#x644;&#x649; &#x634;&#x628;&#x643;&#x629; &#x627;&#x644;&#x627;&#x646;&#x62A;&#x631;&#x646;&#x62A;
          .sliderup.ch(style='display: none;') &#x6B22;&#x8FCE;&#x6765;&#x5230;&#x6211;&#x4EEC;&#x7684;&#x7EBF;&#x4E0A;&#x5C55;&#x9986;
          .sliderup.hi(style='display: none;') &#x939;&#x92E;&#x93E;&#x930;&#x947; &#x911;&#x928;&#x932;&#x93E;&#x907;&#x928; &#x936;&#x94B;&#x930;&#x942;&#x92E; &#x92E;&#x947;&#x902; &#x906;&#x92A;&#x915;&#x93E; &#x938;&#x94D;&#x935;&#x93E;&#x917;&#x924; &#x939;&#x948;
        .time
          | Thu / 22.09.22, 
          .clock 1:34:10 PM
          |  MEXICO CITY
        nav
          menu
            li
              a.transition(href='/') work
            // 
            li
              a.transition(href='/about.php') about
            // 
            li
              a.transition(href='/services.php') services
            // 
            li
              a.transition(href='/stories.php') stories
            // 
            li
              a.transition(href='/contact.php') contact
        .copyright
          | &copy; COPYRIGHT 2022 
          a.transition.text-uppercase(href='mailto:hello@anagrama.com')
            span.transition
            | hello@anagrama.com
      .col-sm-2.col-md-3
        ul
          li
            a.transition.lang-active(href='/lang/eng') ENG
            | |
            a.transition(href='/lang/esp') ESP
          li
            a.transition(href='/press') PRESS
          li
            a.transition(href='#') DOSIER
    .row.collapsed-header.transition(style='top: -106px;')
      .col-sm-2.col-md-3
        .mobile-hamburguer-wrap
          .mobile-hamburguer-bt
            .mobile-hamburguer-bt__stripe.mobile-hamburguer-bt__stripe__top
            .mobile-hamburguer-bt__stripe.mobile-hamburguer-bt__stripe__middle
            .mobile-hamburguer-bt__stripe.mobile-hamburguer-bt__stripe__bottom
      .col-sm-8.col-md-6
        a(href='/')
          i.sprite-logo-header
        .phrase
          .sliderup.en(style='display: none;') WELCOME TO OUR ONLINE SHOWROOM
          .sliderup.es(style='display: block;') BIENVENIDOS A NUESTRO SHOWROOM VIRTUAL
          .sliderup.jp(style='display: none;') &#x79C1;&#x305F;&#x3061;&#x306E;&#x30DD;&#x30FC;&#x30C8;&#x30D5;&#x30A9;&#x30EA;&#x30AA;&#x3078;&#x3088;&#x3046;&#x3053;&#x305D;
          .sliderup.ru(style='display: none;') &Dcy;&ocy;&bcy;&rcy;&ocy; &pcy;&ocy;&zhcy;&acy;&lcy;&ocy;&vcy;&acy;&tcy;&softcy; &vcy; &ncy;&acy;&shcy; &ocy;&ncy;&lcy;&acy;&jcy;&ncy;-&shcy;&ocy;&ucy;&rcy;&ucy;&mcy;
          .sliderup.ko(style='display: none;') &#xC6B0;&#xB9AC; &#xC628;&#xB77C;&#xC778; &#xC1FC;&#xB86C;&#xC5D0; &#xC624;&#xC2E0;&#xAC78; &#xD658;&#xC601;&#xD569;&#xB2C8;&#xB2E4;
          .sliderup.ar(style='display: none;') &#x645;&#x631;&#x62D;&#x628;&#x627; &#x628;&#x643;&#x645; &#x641;&#x64A; &#x645;&#x639;&#x631;&#x636;&#x646;&#x627; &#x639;&#x644;&#x649; &#x634;&#x628;&#x643;&#x629; &#x627;&#x644;&#x627;&#x646;&#x62A;&#x631;&#x646;&#x62A;
          .sliderup.ch(style='display: none;') &#x6B22;&#x8FCE;&#x6765;&#x5230;&#x6211;&#x4EEC;&#x7684;&#x7EBF;&#x4E0A;&#x5C55;&#x9986;
          .sliderup.hi(style='display: none;') &#x939;&#x92E;&#x93E;&#x930;&#x947; &#x911;&#x928;&#x932;&#x93E;&#x907;&#x928; &#x936;&#x94B;&#x930;&#x942;&#x92E; &#x92E;&#x947;&#x902; &#x906;&#x92A;&#x915;&#x93E; &#x938;&#x94D;&#x935;&#x93E;&#x917;&#x924; &#x939;&#x948;
        nav
          menu
            li
              a.transition(href='/')
                span.transition
                | work
            // 
            li
              a.transition(href='/approach')
                span.transition
                | approach
            // 
            li
              a.transition(href='/services')
                span.transition
                | services
            // 
            li
              a.transition(href='/stories')
                span.transition
                | stories
            // 
            li
              a.transition(href='/contact')
                span.transition
                | contact
      .col-sm-2.col-md-3
        ul
          li
            a.transition(href='/lang/eng') ENG
            | |
            a.transition(href='/lang/esp') ESP
