/* FONTS*/
@font-face {
  font-family: MintGrotesk-Bold;
  src: url("/wp-content/themes/NewBrand/fonts/MintGroteskV1.2-Bold.woff2");
}
@font-face {
  font-family: MintGrotesk-Light;
  src: url("/wp-content/themes/NewBrand/fonts/MintGroteskV1.2-Light.woff2");
}
@font-face {
  font-family: MintGrotesk-Medium;
  src: url("/wp-content/themes/NewBrand/fonts/MintGroteskV1.2-Medium.woff2");
}
@font-face {
  font-family: MintGrotesk-Regular;
  src: url("/wp-content/themes/NewBrand/fonts/MintGroteskV1.2-Regular.woff2");
}
@font-face {
  font-family: MintGrotesk-Italic;
  src: url("/wp-content/themes/NewBrand/fonts/MintGroteskV1.2-RegularItalic.woff2");
}
@font-face {
  font-family: MintGrotesk-Thin;
  src: url("/wp-content/themes/NewBrand/fonts/MintGroteskV1.2-Thin.woff2");
}
