/**
 * @license
 * MyFonts Webfont Build ID 3347336, 2017-02-20T12:50:17-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: NHaasGroteskTXStd-55Rg by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-haas-grotesk/std-text-55-roman/
 *
 * Webfont: NHaasGroteskTXStd-75Bd by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-haas-grotesk/std-text-75-bold/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3347336
 * Licensed pageviews: 500,000
 * Webfonts copyright: Copyright &#x00A9; 2013 Monotype Imaging Inc. All rights reserved.
 *
 * Â© 2017 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */

@import url("https://hello.myfonts.net/count/331388");


@font-face {
	font-family: 'NHaasGroteskTXStd-55Rg';
	src: url('/assets/NeueHaasGrotesk-Regular.eot');
	src: url('/assets/NeueHaasGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
		 url('/assets/NeueHaasGrotesk-Regular.woff2') format('woff2'),
		 url('/assets/NeueHaasGrotesk-Regular.woff') format('woff'),
		 url('/assets/NeueHaasGrotesk-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NHaasGroteskTXStd-75Bd';
	src: url('/assets/NeueHaasGrotesk-Bold.eot');
	src: url('/assets/NeueHaasGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
		 url('/assets/NeueHaasGrotesk-Bold.woff2') format('woff2'),
		 url('/assets/NeueHaasGrotesk-Bold.woff') format('woff'),
		 url('/assets/NeueHaasGrotesk-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NeueHaasGrotesk-Medium';
	src: url('/assets/NHaasGroteskTXStd-65Md.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NHaasGroteskDSPro-75Bd';
	src: url('/assets/NHaasGroteskDSPro-75Bd.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NeueHaasGrotesk-Regular';
	src: url('/assets/NeueHaasGrotesk-Regular.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue-Bd';
	src: url('/assets/3524D6_0_0.eot');
	src: url('/assets/3524D6_0_0.eot?#iefix') format('embedded-opentype'),
		 url('/assets/3524D6_0_0.woff2') format('woff2'),
		 url('/assets/3524D6_0_0.woff') format('woff'),
		 url('/assets/3524D6_0_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/*.sprite-mobile-menu,
.sprite-logo-header,
.sprite-top,
.sprite-close,
.sprite-close-grey {
	background-image: url(/assets/anagrama/source@2x.png);
    background-repeat: no-repeat;
    background-size: 138px auto;
}*/

.sprite-mobile-menu {
	background-image: url(/assets/anagrama/mobile-menu-grey.png);
	background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 22px auto;
}

.sprite-logo-header {
	background-image: url(/assets/anagrama/logo-desktop.png);
	background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 129px auto;
}

.sprite-top {
	background-image: url(/assets/anagrama/up-icon.png);
	background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 14px auto;
}

.sprite-down {
	background-image: url(/assets/anagrama/up-icon.png);
	background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 14px auto;
	display: inline-block;
	height: 10px;
	width: 14px;
	-ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	-moz-transform: rotate(180deg); /* Firefox */
  transform: rotate(180deg);
}

.sprite-close {
	background-image: url(/assets/anagrama/close-black-icon.png);
	background-position: center;
  background-repeat: no-repeat;
  background-size: 12px auto;
}

.sprite-close-grey {
	background-image: url(/assets/anagrama/close-grey-icon.png);
	background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 15px auto;
}

.loader {
	background-color: #FFF;
	height: 100vh;
	width: 100vw;
	z-index: 100002;
	position: fixed;
}

.loader-figure {
	position: absolute;
	background-color: #E3E3E3;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: breathe;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes breathe {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.transition {
	-webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-ms-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

.content {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);

	opacity: 1;

	transition: opacity 0.1s;
}

.site-content {
	min-height: 665px;
}

h1 {
}

h2 {
	font-family: "NHaasGroteskTXStd-75Bd";
	font-size: 22px;
	color: #1C1C1C;
	letter-spacing: -0.55px;
	line-height: 24px;
}

textarea,
input {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.stickyfooter{
	position: static !important;
	float: right;
	margin-right: 40px !important;
	transform: translate(0, -58px);
}

button.backtotop {
	background: transparent;
  border: none;
  bottom: 396px;
  color: #1c1c1c;
  display: none;
  font-family: 'NHaasGroteskTXStd-75Bd';
  font-size: 12px;
  letter-spacing: 0.020em;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 0;
  position: fixed;
  right: 40px;
	bottom: 29px;
  text-transform: uppercase;
  z-index: 1000;
}

button.backtotop i {
	display: inline-block;
	height: 10px;
	margin-right: 10px;
	width: 14px;
}

section h1 {
	color: #1b1b1b;
	font-family: 'NHaasGroteskTXStd-75Bd';
	font-size: 22px;
	letter-spacing: -0.025em;
	line-height: 24px;
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;
}

section h2,
section h3,
section h4 {
	color: #1b1b1b;
	font-family: 'NHaasGroteskTXStd-75Bd';
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 0;
	margin-top: 0;
}

section p.grey,
section a.grey {
	border-bottom: 1px solid transparent;
	color: #999999;
	font-family: 'NHaasGroteskTXStd-55Rg';
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 0;
}

section p.grey span.detail {
	font-size: 12px;
	line-height: 20px;
}

section a.grey:hover {
	border-color: #999;
}

section p.black {
	color: #1c1c1c;
	font-family: 'NHaasGroteskTXStd-55Rg';
	font-size: 14px;
	letter-spacing: -0.025em;
	line-height: 20px;
	margin-bottom: 0;
	text-align: center;
}

section p.black a {
	color: #1C1C1C;
	font-family: 'NHaasGroteskTXStd-75Bd';
  font-size: 14px;
  letter-spacing: -0.025em;
  line-height: 14px;
	text-transform: uppercase;
	position: relative;
	-webkit-transition: all 10s ease;
	transition: all 10s ease;
}

section p.black a:after {
	-webkit-transition: all 10s ease;
	transition: all 10s ease;
}

section p.black a:hover::after {
	width: 101%;
}

@keyframes stroke {
	0% { width: 0; }
	100% { width: 100%; }
}


section img.full {
	display: block;
	width: 100%;
}

section span.num {
	background: #a2a2a2;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	font-family: 'NHaasGroteskTXStd-75Bd';
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	width: 20px;
}

section ul.filter {
	margin: 0 0 41px;
	padding: 0;
	text-align: center;
}

section ul.filter li {
	color: #9a9a9a;
	cursor: pointer;
	display: inline-block;
	font-family: 'NHaasGroteskTXStd-75Bd';
	font-size: 12px;
	line-height: 20px;
	margin-left: 15px;
	margin-right: 15px;
	vertical-align: middle;
	text-transform: uppercase;
}

section ul.filter li a {
	color: #9a9a9a;
	position: relative;
}

section ul.filter li a span {
	background: #1c1c1c;
	height: 2px;
	margin-top: 8px;
	position: absolute;
	width: 0;
}

section ul.filter li a:hover span,
section ul.filter li a.active span {
	width: 0;
}

section ul.filter li a:hover,
section ul.filter li a.active {
	color: #1c1c1c;
}

div.division {
	background: #e3e3e3;
	height: 1px;
	width: 100%;
}

span.detail,
a.detail {
	border-bottom: 1px solid transparent;
	color: #1c1c1c;
	display: inline-block;
	font-family: 'NHaasGroteskTXStd-75Bd';
	font-size: 10px;
	line-height: 12px;
}

a.email {
	color: #1c1c1c;
	font-family: 'NHaasGroteskTXStd-75Bd';
	font-size: 14px;
	letter-spacing: -0.025em;
	line-height: 20px;
	position: relative;
}

a.email span {
	background: #1c1c1c;
	height: 2px;
	margin-top: 8px;
	position: absolute;
	width: 0;
}

a.email:hover span,
a.email.active span {
	width: 100%;
}

section div.title span.detail {
	margin-top: 10px;
}

section div.title .col-sm-1:last-child {
	text-align: right;
}

section button.black-btn,
section a.black-btn {
	background: #1b1b1b;
	border: none;
	color: #fff;
	display: block;
	font-family: 'NHaasGroteskTXStd-75Bd';
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	outline: none;
	padding: 0;
	text-align: center;
	width: 132px;
}

section button.grey-btn,
section a.grey-btn {
	background: #999;
	border: none;
	color: #fff;
	display: block;
	font-family: 'NHaasGroteskTXStd-75Bd';
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	outline: none;
	padding: 0;
	text-align: center;
	width: 132px;
}

section button.black-btn:hover,
section a.black-btn:hover {
	/*background: #999;*/
}

section button.grey-btn:hover,
section a.grey-btn:hover {
	/*background: #1b1b1b;*/
}

a.pin-btn {
	background: #fff;
	bottom: 20px;
	color: #1c1c1c;
	display: block;
	font-family: 'NHaasGroteskTXStd-75Bd';
	font-size: 10px;
	letter-spacing: 0.020em;
	line-height: 30px;
	height: 30px;
	opacity: 0;
	position: absolute;
	right: 35px;
	text-align: center;
	text-transform: uppercase;
	width: 50px;
	cursor: pointer;
	z-index: 9;
}

div.full-wrapper {
	display: block;
	position: relative;
	width: 100%;
}

div.full-wrapper:hover a.pin-btn {
	opacity: 1;
}

.error {
	color: #f00;
	font-family: 'NHaasGroteskTXStd-55Rg';
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 0;
}

.error h1 {
	text-transform: none;
}

.popup-share .box {
	position: relative;
}

.popup-share .close-btn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
}

.popup-share .box i {
	float: right;
	padding: 10px;
}

.text-right {
	text-align: right;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.no-padding {
	padding: 0;
}

.pager-numbers {
  display: flex;
}

.pager-numbers a {
  display: inline-block;
  width: calc(100% / 5);
  text-align: center;
  vertical-align: top;

}

.pager h5 {
	font-family: "NHaasGroteskTXStd-75Bd";
	font-size: 10px;
	color: #1C1C1C;
	letter-spacing: 0;
	line-height: 12px;
}

.lang-active {
	font-family: 'NHaasGroteskTXStd-75Bd';
}

.compressed-menu .content {
	top: 0;
	height: 100vh;
	transform: none;
	padding-top: 72px;
	padding-bottom: 80px;
}

.compressed-menu .content .popup-contact-info {
	position: absolute;
	bottom: 80px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.compressed-menu .content .popup-center-info {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
  transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: auto

}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.centered {
    text-align: center;
    font-size: 0;
}
.centered > div {
    float: none;
    display: inline-block;
    font-size: 13px;
}

.mobile-overlay {
	display: none;
	position: fixed;
	z-index: 100;
	margin-top: -20px;
	width: 100vw;
	height: calc(100vh + 20px);
	background-color: rgba(0, 0, 0, 0.75);
}

@media (max-width: 991px) {
	.sprite-mobile-menu {
		background-image: url(/assets/anagrama/mobile-menu-black.png);
	}

	.site-content {
		min-height: auto;
	}

	button.backtotop {
		bottom: 24px;
		right: 24px;
	}

	section h1 {
		font-size: 18px;
		line-height: 20px;
	}

	section h2,
	section h3,
	section h4 {
		font-size: 10px;
	}

	section p.black,
	a.email {
		font-size: 12px;
	}

	section ul.filter {
		display: none;
	}

	section img.full {
		width: 100%;
	}

	section div.title span.detail {
		margin-top: 6px;
	}

	section button.black-btn,
	section a.black-btn,
	section button.grey-btn,
	section a.grey-btn {
		width: 140px;
	}

	.compressed-menu .content {
		top: 0;
		height: 100vh;
		transform: none;
		padding-top: 72px;
		padding-bottom: 80px;
	}

	.compressed-menu .content .popup-contact-info {
		position: absolute;
		bottom: 80px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.compressed-menu .content .popup-center-info {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
	  transform: translateY(-50%);
		left: 0;
		right: 0;
		margin: auto
	}

	.backtotop.stickyfooter {
		margin-right: 24px !important;
	}

}

@media (max-width: 767px) {
	.site-content {
		min-height: auto;
	}

	.sprite-logo-header {
		background-image: url(/assets/anagrama/logo-mobile.png);
	  background-size: 107px auto;
	}

	button.backtotop {
		bottom: auto;
		display: block !important;
		width: 100%;
		position: unset !important;
		padding-bottom: 50px;
	}

	.backtotop.stickyfooter {
		margin-right: 0 !important;
		float: none;
		transform: none;
  	margin: 0 auto;
		position: unset !important;
	}

	section h1 {
		font-size: 14px;
		line-height: 18px;
	}

	section p.grey,
	section a.grey,
	section p.black {
		line-height: 18px;
	}

	section div.title span.detail {
		display: none;
	}

	section p.black {
		text-align: left;
	}

	section button.black-btn,
	section a.black-btn,
	section button.grey-btn,
	section a.grey-btn {
		width: 130px;
	}

	section span.num {
		line-height: 22px;
	}


	.compressed-menu .content {
		top: 0;
		height: 100vh;
		transform: none;
		padding-top: 72px;
		padding-bottom: 80px;
	}

	.compressed-menu .content .popup-contact-info {
		position: absolute;
		bottom: 80px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.compressed-menu .content .popup-center-info {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
	  transform: translateY(-50%);
		left: 0;
		right: 0;
		margin: auto;
    margin-top: 30px;
	}

	main {
		padding-top: 80px;
	}
}

@media (min-width: 1200px) {
	/*.container {
		width: 970px !important;
		max-width: none !important;
	}*/
}
