.about{

  .header-push {
    height: 0; }

  .about {
    text-align: center;
    /*text-transform: uppercase;*/ }

  .about h2 {
    color: #1b1b1b;
    font-family: 'MintGrotesk-Bold';
    font-size: 36px;
    letter-spacing: -0.025em;
    line-height: 40px;
    margin-bottom: 13px;
    margin-top: 16px; }

  .about h3 {
    color: #1b1b1b;
    font-family: 'MintGrotesk-Bold';
    font-size: 22px;
    letter-spacing: -0.025em;
    line-height: 22px;
    margin-bottom: 14px; }

  .about p.numeration {
    color: #1b1b1b;
    font-family: 'MintGrotesk-Bold';
    font-size: 77px;
    letter-spacing: -0.025em;
    line-height: 72px; }

  .about h1 span,
  .about h3 span {
    font-family: 'NeueHaasGrotesk-Regular';
    padding-left: 4px;
    padding-right: 4px; }

  .about p {
    color: #999;
    font-family: 'MintGrotesk-Bold';
    font-size: 12px;
    letter-spacing: -0.025em;
    line-height: 14px; }

  footer p {
    display: block !important; }

  canvas {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0; }

  .birdman {
    text-align: center;
    display: inline-block; }

  .birdman span {
    opacity: 0;
    font-weight: bold;
    transition: all 0.5s ease; }

  .about h1 span {
    color: #1b1b1b;
    font-family: 'MintGrotesk-Bold';
    font-size: 36px;
    letter-spacing: -0.025em;
    line-height: 40px;
    margin-bottom: 13px;
    margin-top: 16px;
    padding: 0; }

  .fp-enabled .full-header {
    position: absolute;
    left: 0; }

  .about .scroll-down {
    cursor: pointer;
    padding: 10px;
    position: absolute;
    z-index: 10;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%); }

  /*
    Line Skyblue
  */
  .section-seven .line-skyblue {
    background-color: #91f3f6;
    width: 100%;
    visibility: hidden;
    height: 2px;
    animation: skyblue_effect;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 1s;
    animation-play-state: paused; }
    .section-seven .line-skyblue.active {
      width: 100%;
      visibility: visible; }

  @keyframes skyblue_effect {
    0% {
      visibility: visible;
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
      transform: scaleX(0); }
    30% {
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
      transform: scaleX(0); }
    40% {
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
      transform: scaleX(0); }
    50% {
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
      transform: scaleX(1); }
    80% {
      visibility: visible;
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
      transform: scaleX(1); }
    80% {
      visibility: visible; }
    99% {
      visibility: visible; }
    100% {
      visibility: hidden;
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
      transform: scaleX(1); } }
  .section-seven .animation-wrap-h1 {
    margin-bottom: 20px; }

  .section-seven .animation-wrap-h2 {
    margin-bottom: 20px; }

  .section-seven .animation-wrap-h2 .line-skyblue {
    margin-bottom: 8px; }

  .section-seven h1 {
    line-height: 22px; }

  .section-seven h2 {
    line-height: 14px; }

  .section-seven h1,
  .section-seven h2 {
    margin-bottom: 0; }

  .section-seven .container {
    position: relative; }

  .section-seven .vertical-line-skyblue {
    width: 2px;
    position: absolute;
    background-color: #91f3f6;
    top: 1%;
    display: inline-block;
    left: 50%;
    visibility: hidden;
    animation: vertical_skyblue_effect;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 1s;
    animation-play-state: paused; }
    .section-seven .vertical-line-skyblue.active {
      height: 100%;
      visibility: visible; }

  @keyframes vertical_skyblue_effect {
    0% {
      visibility: visible;
      height: 0%; }
    30% {
      height: 100%; }
    80% {
      visibility: visible;
      height: 100%; }
    81% {
      visibility: visible; }
    99% {
      visibility: visible; }
    100% {
      visibility: hidden;
      height: 100%; } }
  /*
    Line Skyblue
  */
  .stretch-text {
    letter-spacing: -0.025em;
    animation: letterspacing-animation;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: paused;
    -webkit-animation: letterspacing-animation;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: paused;
    -moz-animation: letterspacing-animation;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: alternate; }

  @keyframes letterspacing-animation {
    0% {
      letter-spacing: 0.4em;
      filter: blur(0px); }
    20% {
      filter: blur(0.2px); }
    50% {
      filter: blur(0.5px); }
    80% {
      filter: blur(0.2px); }
    100% {
      letter-spacing: -0.025em;
      filter: blur(0px); } }
  #graffiti_animation_container,
  .animation_container_03,
  .animation_container_02 {
    height: 0 !important; }

  .section-three-title {
    margin-bottom: 66px; }

  .canvas_02 {
    top: 92px;
    width: 96% !important; }

  .iScrollVerticalScrollbar {
    display: none; }

  @media (max-width: 767px) {
    .about h1 {
      font-size: 14px;
      line-height: 18px; }

    .about h2 {
      font-size: 14px;
      line-height: 18px; }

    h1 .birdman span {
      font-family: 'NHaasGroteskTXStd-55Rg';
      font-size: 14px;
      line-height: 18px; }

    .fp-section p {
      display: none; }

      .fp-section p.numeration {
        display: block; }

    .glitch-text:after {
      left: 42% !important; }

    .glitch-text:before {
      left: 42% !important; }

    .section-seven .line-skyblue.skyblue-h1 {
      margin-top: -5px; }

    .section-seven h1 {
      margin-top: 5px; }

    .section-seven .line-skyblue.skyblue-h2 {
      margin-top: -5px; }

    .six h1 {
      margin-bottom: 13px; }

    .canvas_02 {
      top: 92px;
      width: 290px !important;
      height: auto !important; }

    .fp-section .container .animation {
      width: 320px; }

    .canvas_03 {
      top: 105px !important;
      height: auto !important;
      width: 320px !important; }

    .section-three-title {
      margin-bottom: 50px; }

    .counter-container {
      display: inline-block;
      font: 14px 'MintGrotesk-Bold' !important;
      justify-content: center;
      font-family: 'MintGrotesk-Bold';
      color: #1b1b1b;
      position: relative;
      z-index: -999;
      margin-left: -1px !important; }

    .Counter-unit.is-changing {
      transform: translateY(-18px) !important;
      transition: transform 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }

    .Counter {
      display: flex;
      height: 14px !important;
      line-height: 18px !important;
      overflow: hidden;
      width: 44px !important; }

    .Counter-number {
      width: 10px !important;
      text-align: center; }

    .blur1 {
      filter: blur(0.5px) !important; }

    .blur2 {
      filter: blur(0.2px) !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .about h1 span {
      color: #1b1b1b;
      font-family: 'MintGrotesk-Bold';
      font-size: 18px;
      line-height: 20px;
      letter-spacing: -0.025em;
      margin-bottom: 13px;
      margin-top: 16px;
      padding: 0; }

    .about h1 {
      font-size: 18px;
      line-height: 20px; }

    .about h1 span {
      font-size: 18px;
      line-height: 20px; }

    .about h2 {
      font-size: 12px;
      line-height: 14px; }

    .about p {
      font-size: 10px; }

    .six h1.text2 {
      margin-top: 10px;
      margin-bottom: 13px; }

    .six h1 {
      margin-bottom: 0px; }

    .section-seven h1 {
      line-height: 5px; }

    .section-seven h2 {
      line-height: 7px; }

    .section-seven .line-skyblue.skyblue-h1 {
      margin-top: 2px; }

    .canvas_02 {
      top: 90px;
      width: 75% !important;
      height: auto !important; }

    .glitch-text:after {
      left: 40% !important; }

    .canvas_03 {
      top: 103px !important;
      height: auto !important;
      width: 100% !important; }

    .glitch-text:before {
      left: 40% !important; }

    .counter-container {
      display: inline-block;
      font: 18px 'MintGrotesk-Bold' !important;
      justify-content: center;
      font-family: 'MintGrotesk-Bold';
      color: #1b1b1b;
      position: relative;
      z-index: -999;
      margin-left: -1px !important; }

    .Counter-unit.is-changing {
      transform: translateY(-20px) !important;
      transition: transform 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }

    .Counter {
      display: flex;
      height: 18px !important;
      line-height: 20px !important;
      overflow: hidden;
      width: 53px !important; }

    .Counter-number {
      width: 12px !important;
      text-align: center; }

    .blur1 {
      filter: blur(1px) !important; }

    .blur2 {
      filter: blur(0.5px) !important; } }
  @media (min-device-width: 320px) and (max-device-width: 480px) {
    .about h1 {
      font-size: 14px;
      line-height: 18px; }

    .about h2 {
      font-size: 14px;
      line-height: 18px; }

    .section-seven h2 {
      font-size: 14px;
      line-height: 18px; }

    .fp-section p {
      display: none; }

    .fp-section .container .animation {
      width: 320px; }

    .six h1 {
      margin-bottom: 0px; }

    .glitch-text:after {
      left: 35% !important; }

    .glitch-text:before {
      left: 34% !important; }

    .canvas_02 {
      top: 92px;
      width: 290px !important;
      height: auto !important; }

    .canvas_03 {
      top: 108px !important;
      height: auto !important;
      width: 320px !important; }

    #graffiti_canvas {
      height: 120px !important;
      width: 160px !important; }

    .stretch-text {
      letter-spacing: -0.025em;
      animation: letterspacing-animation;
      animation-duration: 1.5s;
      animation-iteration-count: 1;
      animation-direction: alternate;
      animation-play-state: paused; }

    .about h1 span {
      color: #1b1b1b;
      font-family: 'MintGrotesk-Bold';
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.025em;
      margin-bottom: 13px;
      margin-top: 16px;
      padding: 0; }

    @keyframes letterspacing-animation {
      0% {
        letter-spacing: 0.4em;
        filter: blur(0px); }
      20% {
        filter: blur(0.2px); }
      50% {
        filter: blur(0.5px); }
      80% {
        filter: blur(0.2px); }
      100% {
        letter-spacing: -0.025em;
        filter: blur(0px); } } }
  @media (min-width: 415px) and (max-width: 767px) {
    .section-seven h2 {
      line-height: 23px; }

    .glitch-text:after {
      left: 34% !important; }

    .glitch-text:before {
      left: 34% !important; } }
  .six h1 {
    margin-bottom: 0px; }

  .six h1.text2 {
    margin-top: 0px !important;
    margin-bottom: 13px; }

  .ten > .glitch-wrapper h1 {
    margin-top: 16px;
    margin-bottom: 0; }

  .ten .glitch-wrapper:last-child h1 {
    margin-top: 0;
    margin-bottom: 13px; }

  .black-overlay-animation {
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: background-color; }

  .black-overlay-animation-effect {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 70%;
    background-color: #1B1B1B;
    transform-origin: left;
    z-index: -1;
    width: 0%;
    animation-play-state: paused;
    animation-name: changewidth;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.42, 0, 0.01, 0.63);
    animation-direction: normal;
    animation-duration: 3s; }
    .black-overlay-animation-effect.efecto1 {
      top: 11px !important; }

  /*.black-overlay-animation.active::after {
    animation-play-state: paused;
  }*/
  .black-overlay-animation-twolines {
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: background-color; }

  .black-overlay-animation-twolines-effect {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 70%;
    background-color: #1B1B1B;
    transform-origin: left;
    z-index: -1;
    width: 0%;
    animation-play-state: paused;
    animation-name: changewidth;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.42, 0, 0.01, 0.63);
    animation-direction: normal;
    animation-duration: 3s; }

  /*.black-overlay-animation-twolines.active::before {
    animation-play-state: running;
  }*/
  @keyframes changewidth {
    0% {
      width: 0%; }
    10% {
      width: 100%; }
    35% {
      left: 0%; }
    45% {
      width: 100%;
      left: 100%; }
    55% {
      width: 100%;
      left: 100%; }
    100% {
      width: 100%;
      left: 100%; } }
  @keyframes change-bg-color {
    0% {
      background-color: #1B1B1B;
      width: 0%;
      left: 0%; }
    3% {
      background-color: #1B1B1B;
      width: 50%;
      left: 0%; }
    5% {
      background-color: #1B1B1B;
      width: 100%;
      left: 0%; }
    10% {
      background-color: #1B1B1B;
      width: 100%;
      left: 0%; }
    15% {
      background-color: #1B1B1B;
      width: 100%;
      left: 0%; }
    20% {
      background-color: #1B1B1B;
      width: 100%;
      left: 0%; }
    25% {
      background-color: #1B1B1B;
      width: 100%;
      left: 0%; }
    30% {
      background-color: #1B1B1B;
      width: 100%;
      left: 0%; }
    35% {
      background-color: #1B1B1B;
      width: 100%; }
    36% {
      background-color: #FFF;
      width: 100%; }
    37% {
      background-color: #FFF;
      width: 100%; }
    38% {
      background-color: #FFF;
      width: 100%; }
    39% {
      background-color: #FFF;
      width: 100%; }
    40% {
      background-color: #FFF;
      width: 100%; }
    45% {
      background-color: #FFF;
      width: 100%; }
    50% {
      background-color: #FFF;
      width: 100%;
      left: 0%; }
    55% {
      background-color: #FFF;
      width: 100%;
      left: 10%; }
    60% {
      background-color: #FFF;
      width: 100%;
      left: 20%; }
    65% {
      background-color: #FFF;
      width: 100%;
      left: 30%; }
    70% {
      background-color: #FFF;
      width: 100%; }
    75% {
      background-color: #FFF;
      width: 100%; }
    80% {
      background-color: #FFF;
      width: 100%; }
    85% {
      background-color: #FFF;
      width: 100%; }
    90% {
      background-color: #FFF;
      width: 100%; }
    95% {
      background-color: #FFF;
      width: 100%;
      left: 90%; }
    100% {
      background-color: #FFF;
      width: 100%;
      left: 100%; } }
  @keyframes change-bg-color-2 {
    0% {
      background-color: #1B1B1B;
      width: 100%; }
    3% {
      background-color: #1B1B1B;
      width: 100%; }
    5% {
      background-color: #1B1B1B;
      width: 100%; }
    10% {
      background-color: #1B1B1B;
      width: 100%; }
    15% {
      background-color: #1B1B1B;
      width: 100%; }
    20% {
      background-color: #1B1B1B;
      width: 100%; }
    25% {
      background-color: #1B1B1B;
      width: 100%; }
    30% {
      background-color: #1B1B1B;
      width: 100%; }
    35% {
      background-color: #1B1B1B;
      width: 100%; }
    36% {
      background-color: #FFF;
      width: 100%; }
    37% {
      background-color: #FFF;
      width: 100%; }
    38% {
      background-color: #FFF;
      width: 100%; }
    39% {
      background-color: #FFF;
      width: 100%; }
    40% {
      background-color: #FFF;
      width: 100%; }
    45% {
      background-color: #FFF;
      width: 100%; }
    50% {
      background-color: #FFF;
      width: 100%; }
    55% {
      background-color: #FFF;
      width: 100%;
      left: 10px; }
    60% {
      background-color: #FFF;
      width: 100%;
      left: 20px; }
    65% {
      background-color: #FFF;
      width: 100%;
      left: 30px; }
    70% {
      background-color: #FFF;
      width: 100%; }
    75% {
      background-color: #FFF;
      width: 100%; }
    80% {
      background-color: #FFF;
      width: 100%; }
    85% {
      background-color: #FFF;
      width: 100%; }
    90% {
      background-color: #FFF;
      width: 100%; }
    95% {
      background-color: #FFF;
      width: 50%; }
    100% {
      background-color: #FFF;
      width: 0%; } }
  .glitch-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

  .glitch {
    color: black;
    font-size: 150px;
    text-transform: upercase;
    position: relative;
    display: inline-block;
    animation: no-glitch 5s infinite linear alternate-reverse; }

  .glitch::before,
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: yellow; }

  .glitch::before {
    	/*left: -1px;
      text-shadow: -1px 0 #1B1B1B;*/
    clip: rect(24px, 550px, 90px, 0);
    animation: glitch-anim-2 5s infinite linear alternate-reverse; }

  .glitch::after {
    left: -1px;
    text-shadow: -1px 0 red;
    clip: rect(85px, 550px, 140px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
    -webkit-transition-delay: 2s;
    /* Safari */
    transition-delay: 5s; }

  .glitch-text {
    -webkit-animation: glitch-effect 5s steps(100) infinite;
    animation: glitch-effect 5s steps(100) infinite;
    position: relative; }

  /* GLITCH EFFECT */
  @keyframes noise-anim {
    20%, 60% {
      clip: rect(0, 900px, 0, 0); }
    0% {
      clip: rect(88px, 9999px, 1px, 0); }
    5% {
      clip: rect(6px, 9999px, 67px, 0); }
    10% {
      clip: rect(36px, 9999px, 77px, 0); }
    15% {
      clip: rect(68px, 9999px, 20px, 0); }
    65% {
      clip: rect(2px, 9999px, 41px, 0); }
    70% {
      clip: rect(94px, 9999px, 16px, 0); }
    75% {
      clip: rect(50px, 9999px, 84px, 0); }
    80% {
      clip: rect(12px, 9999px, 49px, 0); }
    85% {
      clip: rect(9px, 9999px, 1px, 0); }
    90% {
      clip: rect(95px, 9999px, 2px, 0); }
    95% {
      clip: rect(86px, 9999px, 42px, 0); }
    100% {
      clip: rect(67px, 9999px, 16px, 0); } }
  .glitch-text:after {
    content: attr(data-text);
    position: absolute;
    left: 34%;
    text-shadow: -1px 0 red;
    top: 0;
    color: black;
    background: white;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse; }

  @keyframes noise-anim-2 {
    20%, 60% {
      clip: rect(0, 900px, 0, 0); }
    0% {
      clip: rect(60px, 9999px, 89px, 0); }
    5% {
      clip: rect(17px, 9999px, 84px, 0); }
    10% {
      clip: rect(8px, 9999px, 85px, 0); }
    15% {
      clip: rect(53px, 9999px, 91px, 0); }
    65% {
      clip: rect(68px, 9999px, 69px, 0); }
    70% {
      clip: rect(92px, 9999px, 100px, 0); }
    75% {
      clip: rect(41px, 9999px, 93px, 0); }
    80% {
      clip: rect(55px, 9999px, 26px, 0); }
    85% {
      clip: rect(91px, 9999px, 3px, 0); }
    90% {
      clip: rect(33px, 9999px, 58px, 0); }
    95% {
      clip: rect(69px, 9999px, 85px, 0); }
    100% {
      clip: rect(68px, 9999px, 16px, 0); } }
  .glitch-text:before {
    content: attr(data-text);
    position: absolute;
    left: 35%;
    text-shadow: 1px 0 blue;
    top: 0;
    color: black;
    background: white;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 1s infinite linear alternate-reverse; }

  @keyframes first_anim {
    0% {
      content: attr(data-current);
      filter: blur(0px); }
    1% {
      content: attr(data-current);
      filter: blur(0px); }
    2% {
      content: attr(data-current);
      filter: blur(0px); }
    3% {
      content: attr(data-current);
      filter: blur(0px); }
    4% {
      content: attr(data-current);
      filter: blur(0px); }
    5% {
      content: attr(data-current);
      filter: blur(0px); }
    6% {
      content: attr(data-current);
      filter: blur(0px); }
    7% {
      content: attr(data-current);
      filter: blur(0px); }
    8% {
      content: attr(data-current);
      filter: blur(0px); }
    9% {
      content: attr(data-current);
      filter: blur(0px); }
    10% {
      content: attr(data-current);
      filter: blur(0px); }
    11% {
      content: attr(data-current);
      filter: blur(0px); }
    12% {
      content: attr(data-current);
      filter: blur(0px); }
    13% {
      content: attr(data-current);
      filter: blur(0px); }
    14% {
      content: attr(data-current);
      filter: blur(0px); }
    15% {
      content: attr(data-current);
      filter: blur(0px); }
    16% {
      content: attr(data-current);
      filter: blur(0px); }
    17% {
      content: attr(data-current);
      filter: blur(0px); }
    18% {
      content: attr(data-current);
      filter: blur(0px); }
    19% {
      content: attr(data-current);
      filter: blur(0px); }
    20% {
      content: attr(data-current);
      filter: blur(0px); }
    21% {
      content: attr(data-current);
      filter: blur(0px); }
    22% {
      content: attr(data-current);
      filter: blur(0px); }
    23% {
      content: attr(data-current);
      filter: blur(0px); }
    24% {
      content: attr(data-current);
      filter: blur(0px); }
    25% {
      content: attr(data-current);
      filter: blur(0px); }
    26% {
      content: attr(data-current);
      filter: blur(0px); }
    27% {
      content: attr(data-current);
      filter: blur(0px); }
    28% {
      content: attr(data-current);
      filter: blur(0px); }
    29% {
      content: attr(data-current);
      filter: blur(0px); }
    30% {
      content: attr(data-current);
      filter: blur(0px); }
    31% {
      content: attr(data-current);
      filter: blur(0px); }
    32% {
      content: attr(data-current);
      filter: blur(0px); }
    33% {
      content: attr(data-current);
      filter: blur(0px); }
    34% {
      content: attr(data-current);
      filter: blur(0px); }
    35% {
      content: attr(data-current);
      filter: blur(0px); }
    36% {
      content: attr(data-current);
      filter: blur(0px); }
    37% {
      content: attr(data-current);
      filter: blur(0px); }
    38% {
      content: attr(data-current);
      filter: blur(0px); }
    39% {
      content: attr(data-current);
      filter: blur(0px); }
    40% {
      content: attr(data-current);
      filter: blur(0px); }
    41% {
      content: attr(data-current);
      filter: blur(0px); }
    42% {
      content: attr(data-current);
      filter: blur(0px); }
    43% {
      content: attr(data-current);
      filter: blur(0px); }
    44% {
      content: attr(data-current);
      filter: blur(0px); }
    45% {
      content: attr(data-current);
      filter: blur(0px); }
    46% {
      content: attr(data-current);
      filter: blur(0px); }
    47% {
      content: attr(data-current);
      filter: blur(0px); }
    48% {
      content: attr(data-current);
      filter: blur(0px); }
    49% {
      content: attr(data-current);
      filter: blur(0px); }
    50% {
      content: attr(data-current);
      filter: blur(0px); }
    51% {
      content: attr(data-current); }
    52% {
      content: attr(data-current); }
    53% {
      content: attr(data-current); }
    54% {
      content: attr(data-current); }
    55% {
      content: attr(data-current); }
    56% {
      content: attr(data-current); }
    57% {
      content: attr(data-current); }
    58% {
      content: attr(data-current); }
    59% {
      content: attr(data-current); }
    60% {
      content: attr(data-current); }
    61% {
      content: attr(data-current); }
    62% {
      content: attr(data-current); }
    63% {
      content: attr(data-current); }
    64% {
      content: attr(data-current); }
    65% {
      content: attr(data-current); }
    66% {
      content: attr(data-current); }
    67% {
      content: attr(data-current); }
    68% {
      content: attr(data-current); }
    69% {
      content: attr(data-current); }
    70% {
      content: attr(data-current); }
    71% {
      content: attr(data-current); }
    72% {
      content: attr(data-current); }
    73% {
      content: attr(data-current); }
    74% {
      content: attr(data-current); }
    75% {
      content: attr(data-current); }
    76% {
      content: attr(data-current); }
    77% {
      content: attr(data-current); }
    78% {
      content: attr(data-current); }
    79% {
      content: attr(data-current); }
    80% {
      content: attr(data-current); }
    81% {
      content: attr(data-current); }
    82% {
      content: attr(data-current); }
    83% {
      content: attr(data-current); }
    84% {
      content: attr(data-current); }
    85% {
      content: attr(data-current); }
    86% {
      content: attr(data-current); }
    87% {
      content: attr(data-current); }
    88% {
      content: attr(data-current); }
    89% {
      content: attr(data-current); }
    90% {
      content: attr(data-current); }
    91% {
      content: attr(data-current); }
    92% {
      content: attr(data-current); }
    93% {
      content: attr(data-current); }
    94% {
      content: attr(data-current); }
    95% {
      content: attr(data-current); }
    96% {
      content: attr(data-current); }
    97% {
      content: attr(data-current); }
    98% {
      content: attr(data-current); }
    99% {
      content: attr(data-current); }
    100% {
      content: attr(data-current); } }
  @keyframes second_anim {
    0% {
      content: attr(data-current);
      filter: blur(1px); }
    1% {
      content: attr(data-current);
      filter: blur(1.01px); }
    2% {
      content: attr(data-current);
      filter: blur(1.02px); }
    3% {
      content: attr(data-current);
      filter: blur(1.03px); }
    4% {
      content: attr(data-current);
      filter: blur(1.04px); }
    5% {
      content: attr(data-current);
      filter: blur(1.05px); }
    6% {
      content: attr(data-current);
      filter: blur(1.06px); }
    7% {
      content: attr(data-current);
      filter: blur(1.07px); }
    8% {
      content: attr(data-current);
      filter: blur(1.08px); }
    9% {
      content: attr(data-current);
      filter: blur(1.09px); }
    10% {
      content: attr(data-current);
      filter: blur(1.1px); }
    11% {
      content: attr(data-current);
      filter: blur(1.11px); }
    12% {
      content: attr(data-current);
      filter: blur(1.12px); }
    13% {
      content: attr(data-current);
      filter: blur(1.13px); }
    14% {
      content: attr(data-current);
      filter: blur(1.14px); }
    15% {
      content: attr(data-current);
      filter: blur(1.15px); }
    16% {
      content: attr(data-current);
      filter: blur(1.16px); }
    17% {
      content: attr(data-current);
      filter: blur(1.17px); }
    18% {
      content: attr(data-current);
      filter: blur(1.18px); }
    19% {
      content: attr(data-current);
      filter: blur(1.19px); }
    20% {
      content: attr(data-current);
      filter: blur(1.2px); }
    21% {
      content: attr(data-current);
      filter: blur(1.21px); }
    22% {
      content: attr(data-current);
      filter: blur(1.22px); }
    23% {
      content: attr(data-current);
      filter: blur(1.23px); }
    24% {
      content: attr(data-current);
      filter: blur(1.24px); }
    25% {
      content: attr(data-current);
      filter: blur(1.25px); }
    26% {
      content: attr(data-current);
      filter: blur(1.26px); }
    27% {
      content: attr(data-current);
      filter: blur(1.27px); }
    28% {
      content: attr(data-current);
      filter: blur(1.28px); }
    29% {
      content: attr(data-current);
      filter: blur(1.29px); }
    30% {
      content: attr(data-current);
      filter: blur(1.3px); }
    31% {
      content: attr(data-current);
      filter: blur(1.31px); }
    32% {
      content: attr(data-current);
      filter: blur(1.32px); }
    33% {
      content: attr(data-current);
      filter: blur(1.33px); }
    34% {
      content: attr(data-current);
      filter: blur(1.34px); }
    35% {
      content: attr(data-current);
      filter: blur(1.35px); }
    36% {
      content: attr(data-current);
      filter: blur(1.36px); }
    37% {
      content: attr(data-current);
      filter: blur(1.37px); }
    38% {
      content: attr(data-current);
      filter: blur(1.38px); }
    39% {
      content: attr(data-current);
      filter: blur(1.39px); }
    40% {
      content: attr(data-current);
      filter: blur(1.4px); }
    41% {
      content: attr(data-current);
      filter: blur(1.41px); }
    42% {
      content: attr(data-current);
      filter: blur(1.42px); }
    43% {
      content: attr(data-current);
      filter: blur(1.43px); }
    44% {
      content: attr(data-current);
      filter: blur(1.44px); }
    45% {
      content: attr(data-current);
      filter: blur(1.45px); }
    46% {
      content: attr(data-current);
      filter: blur(1.46px); }
    47% {
      content: attr(data-current);
      filter: blur(1.47px); }
    48% {
      content: attr(data-current);
      filter: blur(1.48px); }
    49% {
      content: attr(data-current);
      filter: blur(1.49px); }
    50% {
      content: attr(data-current);
      filter: blur(1.5px); }
    51% {
      content: attr(data-current);
      filter: blur(1.51px); }
    52% {
      content: attr(data-current);
      filter: blur(1.52px); }
    53% {
      content: attr(data-current);
      filter: blur(1.53px); }
    54% {
      content: attr(data-current);
      filter: blur(1.54px); }
    55% {
      content: attr(data-current);
      filter: blur(1.55px); }
    56% {
      content: attr(data-current);
      filter: blur(1.56px); }
    57% {
      content: attr(data-current);
      filter: blur(1.57px); }
    58% {
      content: attr(data-current);
      filter: blur(1.58px); }
    59% {
      content: attr(data-current);
      filter: blur(1.59px); }
    60% {
      content: attr(data-current);
      filter: blur(1.6px); }
    61% {
      content: attr(data-current);
      filter: blur(1.61px); }
    62% {
      content: attr(data-current);
      filter: blur(1.62px); }
    63% {
      content: attr(data-current);
      filter: blur(1.63px); }
    64% {
      content: attr(data-current);
      filter: blur(1.64px); }
    65% {
      content: attr(data-current);
      filter: blur(1.65px); }
    66% {
      content: attr(data-current);
      filter: blur(1.66px); }
    67% {
      content: attr(data-current);
      filter: blur(1.67px); }
    68% {
      content: attr(data-current);
      filter: blur(1.68px); }
    69% {
      content: attr(data-current);
      filter: blur(1.69px); }
    70% {
      content: attr(data-current);
      filter: blur(1.7px); }
    71% {
      content: attr(data-current);
      filter: blur(1.71px); }
    72% {
      content: attr(data-current);
      filter: blur(1.72px); }
    73% {
      content: attr(data-current);
      filter: blur(1.73px); }
    74% {
      content: attr(data-current);
      filter: blur(1.74px); }
    75% {
      content: attr(data-current);
      filter: blur(1.75px); }
    76% {
      content: attr(data-current);
      filter: blur(1.76px); }
    77% {
      content: attr(data-current);
      filter: blur(1.77px); }
    78% {
      content: attr(data-current);
      filter: blur(1.78px); }
    79% {
      content: attr(data-current);
      filter: blur(1.79px); }
    80% {
      content: attr(data-current);
      filter: blur(1.8px); }
    81% {
      content: attr(data-current);
      filter: blur(1.81px); }
    82% {
      content: attr(data-current);
      filter: blur(1.82px); }
    83% {
      content: attr(data-current);
      filter: blur(1.83px); }
    84% {
      content: attr(data-current);
      filter: blur(1.84px); }
    85% {
      content: attr(data-current);
      filter: blur(1.85px); }
    86% {
      content: attr(data-current);
      filter: blur(1.86px); }
    87% {
      content: attr(data-current);
      filter: blur(1.87px); }
    88% {
      content: attr(data-current);
      filter: blur(1.88px); }
    89% {
      content: attr(data-current);
      filter: blur(1.89px); }
    90% {
      content: attr(data-current);
      filter: blur(1.9px); }
    91% {
      content: attr(data-current);
      filter: blur(1.91px); }
    92% {
      content: attr(data-current);
      filter: blur(1.92px); }
    93% {
      content: attr(data-current);
      filter: blur(1.93px); }
    94% {
      content: attr(data-current);
      filter: blur(1.94px); }
    95% {
      content: attr(data-current);
      filter: blur(1.95px); }
    96% {
      content: attr(data-current);
      filter: blur(1.96px); }
    97% {
      content: attr(data-current);
      filter: blur(1.97px); }
    98% {
      content: attr(data-current);
      filter: blur(1.98px); }
    99% {
      content: attr(data-current);
      filter: blur(1.99px); }
    100% {
      content: attr(data-current);
      filter: blur(2px); } }
  @keyframes third_anim {
    0% {
      content: attr(data-current); }
    1% {
      content: attr(data-current); }
    2% {
      content: attr(data-current); }
    3% {
      content: attr(data-current); }
    4% {
      content: attr(data-current); }
    5% {
      content: attr(data-current); }
    6% {
      content: attr(data-current); }
    7% {
      content: attr(data-current); }
    8% {
      content: attr(data-current); }
    9% {
      content: attr(data-current); }
    10% {
      content: attr(data-current); }
    11% {
      content: attr(data-current); }
    12% {
      content: attr(data-current); }
    13% {
      content: attr(data-current); }
    14% {
      content: attr(data-current); }
    15% {
      content: attr(data-current); }
    16% {
      content: attr(data-current); }
    17% {
      content: attr(data-current); }
    18% {
      content: attr(data-current); }
    19% {
      content: attr(data-current); }
    20% {
      content: attr(data-current); }
    21% {
      content: attr(data-current); }
    22% {
      content: attr(data-current); }
    23% {
      content: attr(data-current); }
    24% {
      content: attr(data-current); }
    25% {
      content: attr(data-current); }
    26% {
      content: attr(data-current); }
    27% {
      content: attr(data-current); }
    28% {
      content: attr(data-current); }
    29% {
      content: attr(data-current); }
    30% {
      content: attr(data-current); }
    31% {
      content: attr(data-current); }
    32% {
      content: attr(data-current); }
    33% {
      content: attr(data-current); }
    34% {
      content: attr(data-current); }
    35% {
      content: attr(data-current); }
    36% {
      content: attr(data-current); }
    37% {
      content: attr(data-current); }
    38% {
      content: attr(data-current); }
    39% {
      content: attr(data-current); }
    40% {
      content: attr(data-current); }
    41% {
      content: attr(data-current); }
    42% {
      content: attr(data-current); }
    43% {
      content: attr(data-current); }
    44% {
      content: attr(data-current); }
    45% {
      content: attr(data-current); }
    46% {
      content: attr(data-current); }
    47% {
      content: attr(data-current); }
    48% {
      content: attr(data-current); }
    49% {
      content: attr(data-current); }
    50% {
      content: attr(data-current); }
    51% {
      content: attr(data-current);
      filter: blur(0px); }
    52% {
      content: attr(data-current);
      filter: blur(0px); }
    53% {
      content: attr(data-current);
      filter: blur(0px); }
    54% {
      content: attr(data-current);
      filter: blur(0px); }
    55% {
      content: attr(data-current);
      filter: blur(0px); }
    56% {
      content: attr(data-current);
      filter: blur(0px); }
    57% {
      content: attr(data-current);
      filter: blur(0px); }
    58% {
      content: attr(data-current);
      filter: blur(0px); }
    59% {
      content: attr(data-current);
      filter: blur(0px); }
    60% {
      content: attr(data-current);
      filter: blur(0px); }
    61% {
      content: attr(data-current);
      filter: blur(0px); }
    62% {
      content: attr(data-current);
      filter: blur(0px); }
    63% {
      content: attr(data-current);
      filter: blur(0px); }
    64% {
      content: attr(data-current);
      filter: blur(0px); }
    65% {
      content: attr(data-current);
      filter: blur(0px); }
    66% {
      content: attr(data-current);
      filter: blur(0px); }
    67% {
      content: attr(data-current);
      filter: blur(0px); }
    68% {
      content: attr(data-current);
      filter: blur(0px); }
    69% {
      content: attr(data-current);
      filter: blur(0px); }
    70% {
      content: attr(data-current);
      filter: blur(0px); }
    71% {
      content: attr(data-current);
      filter: blur(0px); }
    72% {
      content: attr(data-current);
      filter: blur(0px); }
    73% {
      content: attr(data-current);
      filter: blur(0px); }
    74% {
      content: attr(data-current);
      filter: blur(0px); }
    75% {
      content: attr(data-current);
      filter: blur(0px); }
    76% {
      content: attr(data-current);
      filter: blur(0px); }
    77% {
      content: attr(data-current);
      filter: blur(0px); }
    78% {
      content: attr(data-current);
      filter: blur(0px); }
    79% {
      content: attr(data-current);
      filter: blur(0px); }
    80% {
      content: attr(data-current);
      filter: blur(0px); }
    81% {
      content: attr(data-current);
      filter: blur(0px); }
    82% {
      content: attr(data-current);
      filter: blur(0px); }
    83% {
      content: attr(data-current);
      filter: blur(0px); }
    84% {
      content: attr(data-current);
      filter: blur(0px); }
    85% {
      content: attr(data-current);
      filter: blur(0px); }
    86% {
      content: attr(data-current);
      filter: blur(0px); }
    87% {
      content: attr(data-current);
      filter: blur(0px); }
    88% {
      content: attr(data-current);
      filter: blur(0px); }
    89% {
      content: attr(data-current);
      filter: blur(0px); }
    90% {
      content: attr(data-current);
      filter: blur(0px); }
    91% {
      content: attr(data-current);
      filter: blur(0px); }
    92% {
      content: attr(data-current);
      filter: blur(0px); }
    93% {
      content: attr(data-current);
      filter: blur(0px); }
    94% {
      content: attr(data-current);
      filter: blur(0px); }
    95% {
      content: attr(data-current);
      filter: blur(0px); }
    96% {
      content: attr(data-current);
      filter: blur(0px); }
    97% {
      content: attr(data-current);
      filter: blur(0px); }
    98% {
      content: attr(data-current);
      filter: blur(0px); }
    99% {
      content: attr(data-current);
      filter: blur(0px); }
    100% {
      content: attr(data-current);
      filter: blur(0px); } }
  .counter.first_anim:after {
    content: attr(data-current);
    animation: first_anim 2s linear 1; }

  .counter.second_anim:after {
    content: attr(data-current);
    animation: second_anim 3s linear 1; }

  .counter.third_anim:after {
    content: attr(data-current);
    animation: third_anim 2s linear 1; }

  .counter {
    display: flex;
    align-items: center;
    justify-content: center; }

  .digit {
    display: inline-block;
    height: 31px;
    width: 25.59px;
    margin-right: -8px;
    overflow: hidden;
    color: #1b1b1b;
    font-family: 'MintGrotesk-Bold';
    font-size: 36px;
    letter-spacing: -0.025em;
    line-height: 40px; }

  .digit-container {
    line-height: 1em;
    webkit-animation: slide infinite linear;
    animation: slide infinite linear;
    animation-play-state: paused; }

  .digit-one {
    -webkit-animation-duration: 5000ms;
    animation-duration: 5000ms; }

  .speedup-one-1 {
    -webkit-animation-duration: 5000ms;
    animation-duration: 5000ms;
    filter: blur(0px);
    animation-play-state: running; }
    .speedup-one-1:after {
      -webkit-animation: speedup_1 infinite linear;
      animation: speedup_1 infinite linear; }

  .speedup-one-2 {
    -webkit-animation-duration: 100ms;
    animation-duration: 100ms;
    filter: blur(3px);
    animation-play-state: running; }
    .speedup-one-2:after {
      -webkit-animation: speedup_2 infinite linear;
      animation: speedup_2 infinite linear; }

  .digit-ten {
    -webkit-animation-duration: 50000ms;
    animation-duration: 50000ms;
    animation-play-state: paused; }

  .speedup-ten-1 {
    -webkit-animation-duration: 5000ms;
    animation-duration: 5000ms;
    filter: blur(0.5px);
    animation-play-state: running; }
    .speedup-ten-1:after {
      -webkit-animation: speedup_1 infinite linear;
      animation: speedup_1 infinite linear; }

  .speedup-ten-2 {
    -webkit-animation-duration: 100ms;
    animation-duration: 100ms;
    filter: blur(3px);
    animation-play-state: running; }
    .speedup-ten-2:after {
      -webkit-animation: speedup_2 infinite linear;
      animation: speedup_2 infinite linear; }

  .digit-hundred {
    -webkit-animation-duration: 5000ms;
    animation-duration: 5000ms;
    animation-play-state: paused; }

  .speedup-hundred-2 {
    -webkit-animation-duration: 100ms;
    animation-duration: 100ms;
    filter: blur(1px);
    animation-play-state: running; }
    .speedup-hundred-2:after {
      -webkit-animation: speedup_2 infinite linear;
      animation: speedup_2 infinite linear; }

  .digit-thousand {
    -webkit-animation-duration: 50000ms;
    animation-duration: 50000ms;
    animation-play-state: paused; }

  .speedup-thousand-2 {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    filter: blur(1px);
    animation-play-state: running; }
    .speedup-thousand-2:after {
      -webkit-animation: speedup_2 infinite linear;
      animation: speedup_2 infinite linear; }

  .digit-thousand {
    -webkit-animation-duration: 50000ms;
    animation-duration: 50000ms;
    animation-play-state: paused; }

  .speedup-thousand-2 {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    filter: blur(1px);
    animation-play-state: running; }
    .speedup-thousand-2:after {
      -webkit-animation: speedup_2 infinite linear;
      animation: speedup_2 infinite linear; }

  @-webkit-keyframes slide {
    from {
      -webkit-transform: translateY(0); }
    to {
      -webkit-transform: translateY(-10em); } }
  @keyframes slide {
    from {
      transform: translateY(0); }
    to {
      transform: translateY(-10em); } }
  @keyframes speedup_1 {
    0% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    1% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    2% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    3% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    4% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    5% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    6% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    7% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    8% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    9% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    10% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    11% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    12% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    13% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    14% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    15% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    16% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    17% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    18% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    19% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    20% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    21% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    22% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    23% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    24% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    25% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    26% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    27% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    28% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    29% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    30% {
      -webkit-animation-duration: 5000ms;
      animation-duration: 5000ms; }
    31% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    32% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    33% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    34% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    35% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    36% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    37% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    38% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    39% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    40% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    41% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    42% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    43% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    44% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    45% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    46% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    47% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    48% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    49% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    50% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    51% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    52% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    53% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    54% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    55% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    56% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    57% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    58% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    59% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    60% {
      -webkit-animation-duration: 4000ms;
      animation-duration: 4000ms; }
    61% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    62% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    63% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    64% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    65% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    66% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    67% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    68% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    69% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    70% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    71% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    72% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    73% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    74% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    75% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    76% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    77% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    78% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    79% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    80% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    81% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    82% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    83% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    84% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    85% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    86% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    87% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    88% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    89% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    90% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    91% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    92% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    93% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    94% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    95% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    96% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    97% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    98% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    99% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; }
    100% {
      -webkit-animation-duration: 3000ms;
      animation-duration: 3000ms; } }
  @keyframes speedup_2 {
    0% {
      filter: blur(5px); }
    1% {
      filter: blur(5px); }
    2% {
      filter: blur(5px); }
    3% {
      filter: blur(5px); }
    4% {
      filter: blur(5px); }
    5% {
      filter: blur(5px); }
    6% {
      filter: blur(5px); }
    7% {
      filter: blur(5px); }
    8% {
      filter: blur(5px); }
    9% {
      filter: blur(5px); }
    10% {
      filter: blur(5px); }
    11% {
      filter: blur(5px); }
    12% {
      filter: blur(5px); }
    13% {
      filter: blur(5px); }
    14% {
      filter: blur(5px); }
    15% {
      filter: blur(5px); }
    16% {
      filter: blur(5px); }
    17% {
      filter: blur(5px); }
    18% {
      filter: blur(5px); }
    19% {
      filter: blur(5px); }
    20% {
      filter: blur(5px); }
    21% {
      filter: blur(5px); }
    22% {
      filter: blur(5px); }
    23% {
      filter: blur(5px); }
    24% {
      filter: blur(5px); }
    25% {
      filter: blur(5px); }
    26% {
      filter: blur(5px); }
    27% {
      filter: blur(5px); }
    28% {
      filter: blur(5px); }
    29% {
      filter: blur(5px); }
    30% {
      filter: blur(5px); }
    31% {
      filter: blur(5px); }
    32% {
      filter: blur(5px); }
    33% {
      filter: blur(5px); }
    34% {
      filter: blur(5px); }
    35% {
      filter: blur(5px); }
    36% {
      filter: blur(5px); }
    37% {
      filter: blur(5px); }
    38% {
      filter: blur(5px); }
    39% {
      filter: blur(5px); }
    40% {
      filter: blur(5px); }
    41% {
      filter: blur(5px); }
    42% {
      filter: blur(5px); }
    43% {
      filter: blur(5px); }
    44% {
      filter: blur(5px); }
    45% {
      filter: blur(5px); }
    46% {
      filter: blur(5px); }
    47% {
      filter: blur(5px); }
    48% {
      filter: blur(5px); }
    49% {
      filter: blur(5px); }
    50% {
      filter: blur(5px); }
    51% {
      filter: blur(5px); }
    52% {
      filter: blur(5px); }
    53% {
      filter: blur(5px); }
    54% {
      filter: blur(5px); }
    55% {
      filter: blur(5px); }
    56% {
      filter: blur(5px); }
    57% {
      filter: blur(5px); }
    58% {
      filter: blur(5px); }
    59% {
      filter: blur(5px); }
    60% {
      filter: blur(5px); }
    61% {
      filter: blur(5px); }
    62% {
      filter: blur(5px); }
    63% {
      filter: blur(5px); }
    64% {
      filter: blur(5px); }
    65% {
      filter: blur(5px); }
    66% {
      filter: blur(5px); }
    67% {
      filter: blur(5px); }
    68% {
      filter: blur(5px); }
    69% {
      filter: blur(5px); }
    70% {
      filter: blur(5px); }
    71% {
      filter: blur(5px); }
    72% {
      filter: blur(5px); }
    73% {
      filter: blur(5px); }
    74% {
      filter: blur(5px); }
    75% {
      filter: blur(5px); }
    76% {
      filter: blur(5px); }
    77% {
      filter: blur(5px); }
    78% {
      filter: blur(5px); }
    79% {
      filter: blur(5px); }
    80% {
      filter: blur(5px); }
    81% {
      filter: blur(5px); }
    82% {
      filter: blur(5px); }
    83% {
      filter: blur(5px); }
    84% {
      filter: blur(5px); }
    85% {
      filter: blur(5px); }
    86% {
      filter: blur(5px); }
    87% {
      filter: blur(5px); }
    88% {
      filter: blur(5px); }
    89% {
      filter: blur(5px); }
    90% {
      filter: blur(5px); }
    91% {
      filter: blur(5px); }
    92% {
      filter: blur(5px); }
    93% {
      filter: blur(5px); }
    94% {
      filter: blur(5px); }
    95% {
      filter: blur(5px); }
    96% {
      filter: blur(5px); }
    97% {
      filter: blur(5px); }
    98% {
      filter: blur(5px); }
    99% {
      filter: blur(5px); }
    100% {
      filter: blur(5px); } }
  .counter-container {
    display: inline-block;
    font: 36px 'MintGrotesk-Bold';
    justify-content: center;
    font-family: 'MintGrotesk-Bold';
    color: #1b1b1b;
    position: relative;
    z-index: -999;
    margin-left: -5px; }

  .Counter {
    display: flex;
    height: 36px;
    line-height: 40px;
    overflow: hidden;
    width: 105px; }

  .Counter-number {
    width: 25px;
    text-align: center; }

  .Counter-unit.is-changing {
    transform: translateY(-40px);
    transition: transform 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }

  .blur1 {
    filter: blur(2px); }

  .blur2 {
    filter: blur(1.5px); }

  .point {
    position: relative;
    z-index: 9999;
    margin-left: -5px; }

  .thousand-align {
    text-align: right; }

  @media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .scroll-down {
      bottom: 10px !important; } }
  .text-effect-container, .text-effect-container2 {
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-top: -4px; }

  .text-effect-container3 {
    position: relative;
    overflow: hidden; }
  .row{
    justify-content: center;
  }
  h1, h2, h3, h4, h5, h6{
  }
  p.name{
    color: black;
    font-family: "MintGrotesk-Bold";
  }
  p.text{
    font-family: "MintGrotesk-light";
  }
}
.fp-overflow{
  transform: translateY(-25%);
}
