.contact{
  /*body {
	background: url(../img/pantallas/contact_768.png)no-repeat 0 0;
	opacity: .6;
}*/


  .contact h1{
    font-family: "MintGrotesk-Bold";
  	margin-bottom: 22px;
  }

  section.contact {
  	padding-bottom: 79px;
  	padding-top: 35px;
  }

  section.contact address {
      margin-bottom: 0;
  }

  section.contact h2 {
  	margin-bottom: 20px;
  }

  section.contact a[href^="tel"] {
  	display: inline-block;
  	margin-bottom: 20px;
  }

  section.contact .map {
  	display: block;
  	margin: 0px auto 22px auto;
  	width: 100%;
  }

  section.contact div.division {
  	margin-bottom: 44px;
  	margin-top: 44px;
  }

  section.contact a.black-btn {
  	margin-top: 36px;
  }

  section.contact .offices .col-md-2:last-child,
  section.contact .offices .col-sm-2:last-child,
  section.contact .partnership .col-md-2:last-child,
  section.contact .employment .col-md-2:last-child {
  	text-align: right;
  }

  section.contact .offices.mobile {
  	display: none;
  }

  footer .mobile,
  footer .desktop {
  	display: none;
  }

  footer .row:first-child div.division {
  	display: none;
  }

  .contact h1 {
  	margin-bottom: 60px;
  }


  @media (max-width: 991px) {
  	section.contact {
  		padding-bottom: 20px;
      padding-top: 39px;
    }

    section.contact address {
      margin-bottom: 9px;
  	}

    section.contact h2 {
      margin-bottom: 10px;
      margin-top: 30px;
    }

    section.contact .map {
      margin: 0px auto 36px auto;
  		width: 700px;
    }

  	section.contact .offices.desktop {
  		display: none;
  	}

  	section.contact .offices.mobile {
  		display: block;
  	}

  	section.contact .offices span.detail {
  		margin-top: 33px;
  	}

  	section.contact div.division {
      	margin-bottom: 35px;
      	margin-top: 35px;
  	}

  	section.contact a.black-btn {
      	margin-top: 45px;
  	}

  	.employment a.black-btn {
      margin-bottom: 100px;
  	}

  	.contact h1 {
  		margin-bottom: 40px;
  	}
  }

  @media (max-width: 767px) {
  	section.contact {
  		padding-bottom: 17px;
      padding-top: 40px;
  	}

  	section.contact address {
  		margin-bottom: 0;
  	}

  	section.contact h2 {
  		font-size: 10px;
  		line-height: 17px;
  		margin-top: 40px;
  	}

  	section.contact p.grey,
  	section.contact a.grey {
  		font-size: 10px;
  		line-height: 17px;
  	}

  	section.contact p.black {
  		margin-bottom: 23px;
  	}

  	section.contact .map {
  		margin: 0px auto 11px auto;
  		width: 100%;
  	}

  	section.contact a[href^="tel"] {
  		margin-bottom: 17px;
  	}

  	section.contact .offices {
  		text-align: center;
  	}

  	section.contact .offices span.detail,
  	section.contact .partnership .col-md-2:last-child span.detail,
  	section.contact .employment .col-md-2:last-child span.detail {
  		display: none;
  	}

  	section.contact div.division {
      margin-bottom: 0;
      margin-top: 17px;
  	}

  	section.contact span.detail {
  		margin-bottom: 25px;
      margin-top: 39px;
  	}

  	section.contact a.black-btn {
  		margin-top: 41px;
  	}

  	section.contact .map {
  		padding-left: 15px;
  		padding-right: 15px;
  	}

  	.employment a.black-btn {
      margin-bottom: 30px;
  	}

  	.contact h1 {
  		margin-bottom: 34px;
  	}
  }

  @media (min-width: 1200px) {
  	section.contact .map {
  		width: 1200px;
  	}

  	.offices {
  		margin-top: 22px;
  	}

  	.contact address a:hover {
  		text-decoration: underline;
  		border-bottom: solid 1px transparent;
  	}
  }

  .partnership_main a:hover:after{
    content: "";
    left: 0px;
    margin-top: calc(0.300em / 2 * -1);
    position: absolute;
    width: 0;
    right: 0;
    color: black;
    top: 50%;
    height: 2px;
    background-color: black;
  	animation: stroke 0.3s linear;
  	-webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  @keyframes stroke {
  	0% { width: 0; }
  	100% { width: 100%; }
  }
  .row{
    justify-content: center;
  }
  h1, h2, h3, h4, h5, h6{
    font-weight: 700!important;
  }
}
