/*body {
	background: url(/assets/anagrama/pantallas/project_320.png)no-repeat 0 0;
	opacity: .6;
}*/
.header-push {
  height: 142px; }

header {
  background: #fff;
  width: 100%;
  z-index: 1000; }

header .full-header,
header .collapsed-header {
  background: #fff;
  padding-bottom: 22px;
  padding-top: 23px;
  width: 100%;
  margin: 0; }

header .collapsed-header {
  position: fixed;
  z-index: 100000;
  left: 0; }

header .full-header {
  z-index: 10; }

header .col-md-6 {
  text-align: center; }

header .col-md-3:last-child {
  text-align: right; }

header .col-md-3:last-child ul li:first-child a {
  margin-left: 8px;
  margin-right: 8px; }

header .col-md-3:last-child ul li:first-child a:last-child {
  margin-right: 0; }

header .menu-btn {
  cursor: pointer;
  height: 12px;
  margin-left: 20px;
  margin-top: 5px;
  width: 22px; }

header .menu-btn i {
  display: block;
  height: 12px;
  width: 22px; }

header .sprite-logo-header {
  display: inline-block;
  height: 19px;
  width: 129px; }

header .phrase {
  color: #1c1c1c;
  font-family: 'MintGrotesk-Bold';
  font-size: 14.8px;
  letter-spacing: -0.045em;
  line-height: 14px;
  height: 20px;
  overflow: hidden;
  position: relative;
margin-bottom: -5px;
text-transform: uppercase;
}

.slide {
  position: absolute;
  margin-left: auto;
  margin-right: auto; }

.sliderup {
  display: none; }

/*
.en{
	animation-name: up-one;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-duration: 8s;
  transform:translateY(100%);
}

.es{
	animation-name: up-one;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-duration: 8s;
}

.jp{
	animation-name: up-one;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-duration: 8s;

}
.ru{
	animation-name: up-one;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-duration: 8s;
}
.ko{
	animation-name: up-one;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-duration: 8s;
}
.ar{
	animation-name: up-one;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-duration: 8s;
}

.ch{
	animation-name: up-one;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-duration: 8s;
}

.hi{
	animation-name: up-one;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-duration: 8s;
}
*/
.ru {
  font-family: "HelveticaNeue-Bd", Helvetica, Arial, sans-serif;
  margin-top: -1px; }

@keyframes up-one {
  0% {
    transform: translateY(100%); }
  2.5% {
    transform: translateY(0%); }
  12.5% {
    transform: translateY(0); }
  15% {
    transform: translateY(-100%); }
  25% {
    transform: translateY(-100%); }
  27.5% {
    transform: translateY(-200%); }
  37.5% {
    transform: translateY(-200%); }
  40% {
    transform: translateY(-300%); }
  52.5% {
    transform: translateY(-300%); }
  55% {
    transform: translateY(-400%); }
  67.5% {
    transform: translateY(-400%); }
  70% {
    transform: translateY(-500%); }
  82.5% {
    transform: translateY(-500%); }
  85% {
    transform: translateY(-600%); }
  100% {
    transform: translateY(-600%); } }
header .phrase span {
  /*display: inline-block;
  width: 18px;*/ }

header .time {
  color: #999;
  font-family: 'MintGrotesk-Bold';
  font-size: 14px;
  letter-spacing: -0.025em;
  line-height: 14px;
  margin-bottom: 1px;
  margin-top: 4px;
  text-transform: uppercase; }

header .clock {
  font-family: "MintGrotesk-Bold";
  display: inline-block;
  min-width: 76px;
  max-width: 88px; }

header .copyright {
  color: #999;
  font-family: "MintGrotesk-Bold";
  font-size: 12px;
  line-height: 13px;
  margin-top: 2px; }

header .copyright a {
  font-family: "MintGrotesk-Bold";
  color: #999;
  position: relative; }

header .copyright a span {
  font-family: "MintGrotesk-Bold";
  background: #1c1c1c;
  height: 2px;
  margin-top: 4px;
  position: absolute;
  width: 0; }

header nav,
header nav menu,
header ul {
  font-family: "MintGrotesk-Bold";
  margin: 0;
  padding: 0;
  text-transform: uppercase; }

header .full-header ul,
header .collapsed-header ul {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: none; }

header .full-header ul {
  margin-top: 29px; }

header .collapsed-header ul {
  margin-top: 9px; }

header nav menu li {
  color: #999;
  display: inline-block;
  font-family: "MintGrotesk-Bold";
  font-size: 14px;
  letter-spacing: -0.025em;
  line-height: 14px;
  margin-left: 6px;
  margin-right: 6px;
  vertical-align: middle; }

header nav menu li a {
  font-family: "MintGrotesk-Bold";
  color: #999;
  position: relative; }

header nav menu li a span {
  background: #1c1c1c;
  height: 2px;
  margin-top: 4px;
  position: absolute;
  width: 0; }

header ul li {
  color: #999;
  display: block;
  font-family: 'NHaasGroteskTXStd-55Rg';
  font-size: 9px;
  line-height: 12px; }

header ul li a {
  color: #999;
  font-weight: normal; }

header nav menu li a.active {
  color: #1c1c1c; }

header nav menu li a span.active {
  background: #1c1c1c;
  height: 2px;
  margin-top: 4px;
  position: absolute;
  width: 100%; }

.compressed-menu {
  background: #fff;
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000; }

.compressed-menu,
.compressed-menu .container-fluid,
.compressed-menu .container-fluid .row,
.compressed-menu .col-md-8 {
  height: 100%; }

.compressed-menu .col-md-8 {
  text-align: center; }

.compressed-menu .close-btn {
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin-left: 20px;
  margin-top: 27px;
  width: 15px; }

.compressed-menu .close-btn i {
  display: block;
  height: 15px;
  width: 15px; }

.compressed-menu .col-md-8 h1 {
  color: #1b1b1b;
  font-family: "MintGrotesk-Bold";
  font-size: 22px;
  letter-spacing: -0.025em;
  line-height: 24px;
  margin-bottom: 21px;
  margin-top: 238px;
  text-transform: uppercase; }

.compressed-menu .col-md-8 p.grey,
.compressed-menu .col-md-8 a.grey {
  border-bottom: 1px solid transparent;
  color: #999;
  font-family: 'NHaasGroteskTXStd-55Rg';
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 0;
  width: 70%;
  display: unset; }

.compressed-menu nav,
.compressed-menu nav menu,
.compressed-menu ul {
  margin: 0;
  padding: 0; }

.compressed-menu.unactive nav,
.compressed-menu.unactive ul,
.compressed-menu.unactive .col-md-8 h1,
.compressed-menu.unactive .col-md-8 p.grey {
  opacity: 1; }

.compressed-menu .col-md-8 ul {
  margin-bottom: 231px; }

.compressed-menu .col-md-8 ul li {
  color: #999;
  display: inline-block;
  font-family: "MintGrotesk-Bold";
  font-size: 12px;
  line-height: 20px;
  margin-left: 14px;
  margin-right: 14px;
  text-transform: uppercase;
  vertical-align: middle; }

.compressed-menu .col-md-8 nav li {
  color: #999;
  display: inline-block;
  font-family: "MintGrotesk-Bold";
  font-size: 14px;
  letter-spacing: -0.025em;
  line-height: 20px;
  margin-left: 7px;
  margin-right: 7px;
  text-transform: uppercase;
  vertical-align: middle; }

.compressed-menu .col-md-8 nav li a,
.compressed-menu .col-md-8 ul li a {
  color: #999;
  position: relative; }

.compressed-menu .col-md-8 nav li a span,
.compressed-menu .col-md-8 ul li a span {
  background: #1c1c1c;
  height: 2px;
  position: absolute;
  width: 0; }

.compressed-menu .col-md-8 nav li a span {
  margin-top: 7px; }

.compressed-menu .col-md-8 ul li a span {
  margin-top: 8px; }

.compressed-menu .col-sm-4 nav li:nth-of-type(5),
.compressed-menu .col-sm-4 nav li:nth-of-type(6),
.compressed-menu .col-sm-4 nav li:nth-of-type(7),
.compressed-menu .col-sm-4 nav li:nth-of-type(8) {
  line-height: 40px; }

.compressed-menu .col-sm-4 nav li a {
  color: #999; }

.compressed-menu .col-sm-4 nav .division {
  background: #e3e3e3;
  height: 1px;
  margin-bottom: 16px;
  margin-top: 19px;
  width: 100%; }

.compressed-menu .col-sm-4 ul li {
  color: #999;
  display: block;
  font-family: 'NHaasGroteskTXStd-55Rg';
  font-size: 10px;
  line-height: 25px;
  text-transform: uppercase; }

.compressed-menu .col-sm-4 ul li a {
  color: #999; }

.hamburguer-wrap {
  z-index: 100001;
  position: fixed;
  top: 23px;
  left: 31px;
  cursor: pointer; }

.hamburguer-bt {
  cursor: pointer;
  position: absolute;
  width: 22px;
  transition: all .2s ease-out; }

.hamburguer-bt .hamburguer-bt__stripe {
  height: 1px;
  background: #999;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden; }

.hamburguer-bt.on .hamburguer-bt__stripe__top {
  transform: rotate(45deg) translate(3px, 3px); }

.hamburguer-bt.on .hamburguer-bt__stripe__middle {
  opacity: 0; }

.hamburguer-bt.on .hamburguer-bt__stripe__bottom {
  transform: rotate(-45deg) translate(4px, -3px); }

.reveal-content {
  opacity: 0; }

.hide-content {
  opacity: 1; }

.mobile-menu-sidebar {
  position: relative;
  display: none;
  @media(max-width: 480px){
    display: block;
  }
  .close-menu{
    cursor: pointer;
    color: #fff;
    position: absolute;
    right: 30px;
    top: 30px;
  }
  background-color: #020202;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: -100%;
  z-index: 1000000;
  transition: 0.3s;
  padding: 20px 16px; }
  .mobile-menu-sidebar .sprite-logo-header {
    height: 16px;
    width: 107px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px; }
  .mobile-menu-sidebar ul {
    padding-left: 0; }
    .mobile-menu-sidebar ul li {
      list-style: none;
      margin-bottom: 20px;
text-align: right;
     }
      .mobile-menu-sidebar ul li a {
        color: #fff;
        font-family: "MintGrotesk-Bold";
        text-transform: uppercase;
        text-decoration: none;
        font-size: 10px;
        position: relative; }
      .mobile-menu-sidebar ul li a.active {
        color: #fff; }
  .mobile-menu-sidebar .sections {
    padding-bottom: 10px;
  border-right: solid 1px #E3E3E3;
  margin-bottom: 30px;
  max-width: 160px;
  padding-right: 43px;
  margin-top: 18px; }
  .mobile-menu-sidebar .categories {
    padding-bottom: 10px;
    border-bottom: solid 1px #E3E3E3;
    margin-bottom: 30px; }
  .mobile-menu-sidebar .lang li {
    color: #E3E3E3;
    margin-bottom: 12px; }
    .mobile-menu-sidebar .lang li a {
      font-family: "MintGrotesk-Regular";
      font-size: 10px; }
    .mobile-menu-sidebar .lang li a.transition {
      font-family: "MintGrotesk-Regular";
    }
    .mobile-menu-sidebar .lang li a.lang-active {
      font-family: "MintGrotesk-Bold"; }
  .mobile-menu-sidebar li a span.transition {
    background: #fff;
    font-family: "MintGrotesk-Regular";
    height: 2px;
    margin-top: 4px;
    position: absolute; }
  .mobile-menu-sidebar li a span.transition.active {
    background: #fff;
    height: 2px;
    top: -1px;
    position: absolute;
    width: 100%; }

@media (min-width: 992px) {
  header .copyright a:hover span {
    width: 100%; }

  header .copyright a:hover {
    color: #1c1c1c; }

  header nav menu li a:hover span {
    width: 100%; }

  header nav menu li a:hover {
    color: #1c1c1c; }

  header ul li a:hover {
    text-decoration: underline; }

  .compressed-menu .col-md-8 nav li a:hover span,
  .compressed-menu .col-md-8 ul li a:hover span {
    width: 100%; }

  .compressed-menu .col-md-8 nav li a:hover,
  .compressed-menu .col-md-8 ul li a:hover {
    color: #1c1c1c; } }
@media (max-width: 991px) {
  header .full-header,
  header .collapsed-header {
    padding-bottom: 19px; }

  header .copyright {
    margin-top: 2px; }

  header .time {
    margin-top: 3px; }

  header .menu-btn {
    display: block;
    height: 14px;
    margin-left: 8px;
    margin-top: 0px; }

  header .menu-btn i {
    height: 14px; }

  header nav {
    margin-top: -1px; }

  header nav menu li {
    font-size: 12px;
    margin-left: 6px;
    margin-right: 6px; }

  header ul {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 9px; }

  header .full-header ul,
  header .collapsed-header ul {
    margin-right: 0;
    margin-left: 0px; }

  	/*.compressed-menu {
  		background: transparent;
  		padding-top: 0;
  	}

  	.compressed-menu .col-sm-4 .close-btn,
  	.compressed-menu .col-md-8 ul,
  	.compressed-menu .col-md-8 nav,
  	.compressed-menu .col-md-8 h1,
  	.compressed-menu .col-md-8 p.grey,
  	.compressed-menu .col-md-8 a.grey {
  		display: none;
  	}

  	.compressed-menu .col-sm-4 {
  		background: #fff;
  		padding-left: 20px;
  		padding-right: 30px;
  		padding-top: 41px;
  		height: 100%;
  	}

  	.compressed-menu .col-sm-4 nav,
  	.compressed-menu .col-sm-4 ul {
  		display: block;
  	}*/ }
@media (max-width: 767px) {
  .header-push {
    height: 60px; }

  header .full-header,
  header .collapsed-header {
    padding-bottom: 17px;
    padding-top: 22px;
    background-color: #FFF;
    transition: 0.3s; }

  header .sprite-logo-header {
    height: 16px;
    width: 107px; }

  header .menu-btn {
    margin-top: 0;
    margin-left: 0; }

  header nav,
  header .collapsed-header ul {
    display: none; }

  header .phrase {
    font-size: 10px; }

  .compressed-menu .col-md-8 h1 {
    margin-top: 84px; }

  .compressed-menu .col-md-8 ul {
    margin-bottom: 84px; }

  .hamburguer-wrap {
    top: 18px;
    left: 15px;
    transition: 0.3s; }

  header .full-header {
    display: none; }

  header .collapsed-header {
    position: fixed;
    top: 0 !important;
    left: 0; }

  	/*.compressed-menu .col-sm-4 {
  		padding-left: 15px;
  		padding-right: 15px;
  		padding-top: 30px;
  	}

  	.compressed-menu .col-sm-4 nav {
  		margin-top: 31px;
  	}

  	.compressed-menu .col-sm-4 nav li {
  		font-size: 10px;
  		line-height: 28px;
  	}

  	.compressed-menu .col-sm-4 ul li {
  		line-height: 20px;
  	}

  	.compressed-menu .col-sm-4 nav .division {
  		margin-bottom: 17px;
      	margin-top: 24px;
  	}*/ }
.home .work a{
  &:hover{
    color: inherit;
  }
}
