.home{
    /*body {
  	background: url(../img/pantallas/home-compressed.png)no-repeat 0 0;
  	opacity: .6;
  }*/


  section.work {
  	padding-bottom: 20px;
  	padding-top: 12px;
    min-height: calc(100vh - 330px);
  }

  section.work ul.filter {
  	margin: 0 0 25px;
  }
  section.work ul.filter li a{
    font-family: "MintGrotesk-Bold";
  }

  section.work h2,
  section.work p {
    font-family: "MintGrotesk-Bold";
  	font-size: 10px;
  	letter-spacing: 0;
  	line-height: 12px;
  	text-align: left;
  }

  section.work p {
  	color: #999;
  }

  section.work img.thumb {
  	margin-bottom: 19px;
  	width: 100%;
  }

  section.work img {
    opacity: 1;
    transition: opacity 0.3s;
  }

  section.work img[data-src] {
    opacity: 1;
  }

  section.work div.division {
  	margin-top: 8px;
  }

  section.work .col-md-3,
  section.work .col-md-6 {
  	margin-bottom: 30px;
  }

  section.popup-contact {
  	bottom: 40px;
  	display: none;
  	left: 0;
  	margin: auto;
  	position: fixed;
  	right: 0;
  	z-index: 2;
  }

  section.popup-contact .box {
  	background: #f3f3f3;
  	text-align: center;
  	height: 140px;
  	width: 600px;
  	margin-left: auto;
      margin-right: auto;
  }

  section.popup-contact .box h1 {
  	margin-bottom: 21px;
  	text-transform: none;
  }

  section.popup-contact .box i {
  	cursor: pointer;
  	display: inline-block;
  	height: 20px;
  	width: 20px;
  }

  section.popup-contact .box a[href^="tel:"] {
  	margin-left: 12px;
  }

  section.popup-contact .box .col-md-2:nth-child(1) {
  	text-align: right;
  }

  section.popup-contact .box .col-md-2:nth-child(3) {
  	text-align: left;
  }

  /* Static popup */
  section.popup-contact-static {
  	padding-bottom: 40px;
  	display: block;
  	left: 0;
  	margin: auto;
  	position: relative;
  	right: 0;

  }

  section.popup-contact-static .box {
  	background: #fff;
  	text-align: center;
  	height: 120px;
  	width: 100%;
  }

  section.popup-contact-static .box h1 {
  	margin-bottom: 21px;
  	text-transform: none;
  }

  section.popup-contact-static .box .col-md-2 {
  	margin-top: 4px;
  }

  section.popup-contact-static .box i {
  	cursor: pointer;
  	display: inline-block;
  	height: 10px;
  	width: 10px;
  }

  section.popup-contact-static .box a[href^="tel:"] {
  	margin-left: 12px;
  }

  section.popup-contact-static .box .col-md-2:nth-child(1) {
  	text-align: right;
  }

  section.popup-contact-static .box .col-md-2:nth-child(3) {
  	text-align: left;
  }

  .popup-contact .sprite-close {
  		float: right;
  		margin-right: 16px;
  }

  .popup-contact .detail {
  		float: left;
  		margin-left: 18px;
  		margin-top: 2px;
  }

  /* Static popup */

  @media (max-width: 991px) {
  	/*body {
  		background: url(../img/pantallas/home_768.png)no-repeat 0 0;
  		opacity: .6;
  	}*/

  	section.work {
  		padding-bottom: 51px;
  		padding-top: 12px;
  	}

  	section.popup-contact .box {
  		height: 140px;
  		width: 490px;
  	}

  	section.popup-contact .box h1 {
      margin-bottom: 15px;
  	}

  	section.popup-contact .box .col-md-2 {
      margin-top: 3px;
  	}

  	section.popup-contact-static .box .col-md-2 {
  		margin-top: -2px;
  	}

  	section.popup-contact-static .box h1 {
  	margin-bottom: 15px;
  	text-transform: none;
  	}
  }

  @media (max-width: 767px) {
  	/*body {
  		background: url(../img/pantallas/home_320.png)no-repeat 0 0;
  		opacity: .6;
  	}*/

  	section.popup-contact .box {
  		background: #f3f3f3;
  		text-align: center;
  		height: 115px;
  		width: 100%;
  		margin-left: auto;
  	    margin-right: auto;
  	}

  	section.popup-contact .box h1 {
  		margin-bottom: 10px !important;
  	}

  	section.popup-contact-static .box h1 {
  	margin-bottom: 10px;
  	text-transform: none;
  }

  	section.work {
  		padding-bottom: 18px;
      padding-top: 19px;
  	}

  	section.work h1,
  	section.work h2 {
  		line-height: 13px;
  	}

  	section.work img.thumb {
      margin-bottom: 17px;
  	}

  	section.work .col-md-3,
  	section.work .col-md-6 {
  		margin-bottom: 38px;
  	}

  	section.popup-contact .box h1 {
      margin-bottom: 27px;
  	}

  	section.popup-contact .box .col-md-2 {
  		margin-top: 0;
  	}
  }


  @media (min-width:1550px){.container{width:1520px}}


  @media (min-width:1201px) and (max-width:1549px){
  	.col-mdlg-1,.col-mdlg-10,.col-mdlg-11,.col-mdlg-12,.col-mdlg-2,.col-mdlg-3,.col-mdlg-4,.col-mdlg-5,.col-mdlg-6,.col-mdlg-7,.col-mdlg-8,.col-mdlg-9{float:left}
  	.col-mdlg-12{width:100%}

  	.col-mdlg-11{width:91.66666667%}

  	.col-mdlg-10{width:83.33333333%}

  	.col-mdlg-9{width:75%}

  	.col-mdlg-8{width:66.66666667%}

  	.col-mdlg-7{width:58.33333333%}

  	.col-mdlg-6{width:50%}

  	.col-mdlg-5{width:41.66666667%}

  	.col-mdlg-4{width:33.33333333%}

  	.col-mdlg-3{width:25%}

  	.col-mdlg-2{width:16.66666667%}

  	.col-mdlg-1{width:8.33333333%}

  	.col-mdlg-pull-12{right:100%}

  	.col-mdlg-pull-11{right:91.66666667%}

  	.col-mdlg-pull-10{right:83.33333333%}

  	.col-mdlg-pull-9{right:75%}

  	.col-mdlg-pull-8{right:66.66666667%}

  	.col-mdlg-pull-7{right:58.33333333%}

  	.col-mdlg-pull-6{right:50%}

  	.col-mdlg-pull-5{right:41.66666667%}

  	.col-mdlg-pull-4{right:33.33333333%}

  	.col-mdlg-pull-3{right:25%}

  	.col-mdlg-pull-2{right:16.66666667%}

  	.col-mdlg-pull-1{right:8.33333333%}

  	.col-mdlg-pull-0{right:auto}

  	.col-mdlg-push-12{left:100%}

  	.col-mdlg-push-11{left:91.66666667%}

  	.col-mdlg-push-10{left:83.33333333%}

  	.col-mdlg-push-9{left:75%}

  	.col-mdlg-push-8{left:66.66666667%}

  	.col-mdlg-push-7{left:58.33333333%}

  	.col-mdlg-push-6{left:50%}

  	.col-mdlg-push-5{left:41.66666667%}

  	.col-mdlg-push-4{left:33.33333333%}

  	.col-mdlg-push-3{left:25%}

  	.col-mdlg-push-2{left:16.66666667%}

  	.col-mdlg-push-1{left:8.33333333%}

  	.col-mdlg-push-0{left:auto}

  	.col-mdlg-offset-12{margin-left:100%}

  	.col-mdlg-offset-11{margin-left:91.66666667%}

  	.col-mdlg-offset-10{margin-left:83.33333333%}

  	.col-mdlg-offset-9{margin-left:75%}

  	.col-mdlg-offset-8{margin-left:66.66666667%}

  	.col-mdlg-offset-7{margin-left:58.33333333%}

  	.col-mdlg-offset-6{margin-left:50%}

  	.col-mdlg-offset-5{margin-left:41.66666667%}

  	.col-mdlg-offset-4{margin-left:33.33333333%}

  	.col-mdlg-offset-3{margin-left:25%}

  	.col-mdlg-offset-2{margin-left:16.66666667%}

  	.col-mdlg-offset-1{margin-left:8.33333333%}

  	.col-mdlg-offset-0{margin-left:0}
  }

  @media (min-width:1550px){
  	.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}
  	.col-lg-12{width:100%}

  	.col-lg-11{width:91.66666667%}

  	.col-lg-10{width:83.33333333%}

  	.col-lg-9{width:75%}

  	.col-lg-8{width:66.66666667%}

  	.col-lg-7{width:58.33333333%}

  	.col-lg-6{width:50%}

  	.col-lg-5{width:41.66666667%}

  	.col-lg-4{width:33.33333333%}

  	.col-lg-3{width:25%}

  	.col-lg-2{width:16.66666667%}

  	.col-lg-1{width:8.33333333%}

  	.col-lg-pull-12{right:100%}

  	.col-lg-pull-11{right:91.66666667%}

  	.col-lg-pull-10{right:83.33333333%}

  	.col-lg-pull-9{right:75%}

  	.col-lg-pull-8{right:66.66666667%}

  	.col-lg-pull-7{right:58.33333333%}

  	.col-lg-pull-6{right:50%}

  	.col-lg-pull-5{right:41.66666667%}

  	.col-lg-pull-4{right:33.33333333%}

  	.col-lg-pull-3{right:25%}

  	.col-lg-pull-2{right:16.66666667%}

  	.col-lg-pull-1{right:8.33333333%}

  	.col-lg-pull-0{right:auto}

  	.col-lg-push-12{left:100%}

  	.col-lg-push-11{left:91.66666667%}

  	.col-lg-push-10{left:83.33333333%}

  	.col-lg-push-9{left:75%}

  	.col-lg-push-8{left:66.66666667%}

  	.col-lg-push-7{left:58.33333333%}

  	.col-lg-push-6{left:50%}

  	.col-lg-push-5{left:41.66666667%}

  	.col-lg-push-4{left:33.33333333%}

  	.col-lg-push-3{left:25%}

  	.col-lg-push-2{left:16.66666667%}

  	.col-lg-push-1{left:8.33333333%}

  	.col-lg-push-0{left:auto}

  	.col-lg-offset-12{margin-left:100%}

  	.col-lg-offset-11{margin-left:91.66666667%}

  	.col-lg-offset-10{margin-left:83.33333333%}

  	.col-lg-offset-9{margin-left:75%}

  	.col-lg-offset-8{margin-left:66.66666667%}

  	.col-lg-offset-7{margin-left:58.33333333%}

  	.col-lg-offset-6{margin-left:50%}

  	.col-lg-offset-5{margin-left:41.66666667%}

  	.col-lg-offset-4{margin-left:33.33333333%}

  	.col-lg-offset-3{margin-left:25%}

  	.col-lg-offset-2{margin-left:16.66666667%}

  	.col-lg-offset-1{margin-left:8.33333333%}

  	.col-lg-offset-0{margin-left:0}
  }

  @media (min-width: 2000px){
  	.container {
  	    width:2026px;
  	}

  	.col-xlg-1,.col-xlg-10,.col-xlg-11,.col-xlg-12,.col-xlg-2,.col-xlg-3,.col-xlg-4,.col-xlg-5,.col-xlg-6,.col-xlg-7,.col-xlg-8,.col-xlg-9{float:left}
  	.col-xlg-12{width:100%}

  	.col-xlg-11{width:91.66666667%}

  	.col-xlg-10{width:83.33333333%}

  	.col-xlg-9{width:75%}

  	.col-xlg-8{width:66.66666667%}

  	.col-xlg-7{width:58.33333333%}

  	.col-xlg-6{width:50%}

  	.col-xlg-5{width:41.66666667%}

  	.col-xlg-4{width:33.33333333%}

  	.col-xlg-3{width:25%}

  	.col-xlg-2{width:16.66666667%}

  	.col-xlg-1{width:8.33333333%}


  	.col-xlg-pull-12{right:100%}

  	.col-xlg-pull-11{right:91.66666667%}

  	.col-xlg-pull-10{right:83.33333333%}

  	.col-xlg-pull-9{right:75%}

  	.col-xlg-pull-8{right:66.66666667%}

  	.col-xlg-pull-7{right:58.33333333%}

  	.col-xlg-pull-6{right:50%}

  	.col-xlg-pull-5{right:41.66666667%}

  	.col-xlg-pull-4{right:33.33333333%}

  	.col-xlg-pull-3{right:25%}

  	.col-xlg-pull-2{right:16.66666667%}

  	.col-xlg-pull-1{right:8.33333333%}

  	.col-xlg-pull-0{right:auto}

  	.col-xlg-push-12{left:100%}

  	.col-xlg-push-11{left:91.66666667%}

  	.col-xlg-push-10{left:83.33333333%}

  	.col-xlg-push-9{left:75%}

  	.col-xlg-push-8{left:66.66666667%}

  	.col-xlg-push-7{left:58.33333333%}

  	.col-xlg-push-6{left:50%}

  	.col-xlg-push-5{left:41.66666667%}

  	.col-xlg-push-4{left:33.33333333%}

  	.col-xlg-push-3{left:25%}

  	.col-xlg-push-2{left:16.66666667%}

  	.col-xlg-push-1{left:8.33333333%}

  	.col-xlg-push-0{left:auto}

  	.col-xlg-offset-12{margin-left:100%}

  	.col-xlg-offset-11{margin-left:91.66666667%}

  	.col-xlg-offset-10{margin-left:83.33333333%}

  	.col-xlg-offset-9{margin-left:75%}

  	.col-xlg-offset-8{margin-left:66.66666667%}

  	.col-xlg-offset-7{margin-left:58.33333333%}

  	.col-xlg-offset-6{margin-left:50%}

  	.col-xlg-offset-5{margin-left:41.66666667%}

  	.col-xlg-offset-4{margin-left:33.33333333%}

  	.col-xlg-offset-3{margin-left:25%}

  	.col-xlg-offset-2{margin-left:16.66666667%}

  	.col-xlg-offset-1{margin-left:8.33333333%}

  	.col-xlg-offset-0{margin-left:0}
  }

  .pagination{
  	display: none;
  }

  .are-images-unloaded {
    opacity: 0;
  }

  .page-load-status {
    padding-top: 20px;
    text-align: center;
    color: #777;
  }

  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  * { box-sizing: border-box; }

  #loader {
      display: block;
      position: relative;
      margin: 0 auto;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #363539;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
  }
  #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: rgba(33, 28, 34, 0.63);
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite;
  }
  #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #1e1d1e;
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;
  }
  @-webkit-keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  @keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }


  /*Typing Loader*/
  .posts-loader .typing_loader{
      width: 6px;
      height: 6px;
      border-radius: 50%;
      -webkit-animation: typing 1s linear infinite alternate;
         -moz-animation: Typing 1s linear infinite alternate;
              animation: typing 1s linear infinite alternate;
      margin: 46px auto; /* Not necessary- its only for layouting*/
      position: relative;
      left: -12px;
  }

  @-webkit-keyframes typing{
     0%{
          background-color: rgba(153,153,153, 1);
          box-shadow: 12px 0px 0px 0px rgba(153,153,153,0.2),
                      24px 0px 0px 0px rgba(153,153,153,0.2);
        }
      25%{
          background-color: rgba(153,153,153, 0.4);
          box-shadow: 12px 0px 0px 0px rgba(153,153,153,2),
                      24px 0px 0px 0px rgba(153,153,153,0.2);
      }
      75%{ background-color: rgba(153,153,153, 0.4);
          box-shadow: 12px 0px 0px 0px rgba(153,153,153,0.2),
                      24px 0px 0px 0px rgba(153,153,153,1);
        }
  }

  @-moz-keyframes typing{
     0%{
          background-color: rgba(153,153,153, 1);
          box-shadow: 12px 0px 0px 0px rgba(153,153,153,0.2),
                      24px 0px 0px 0px rgba(153,153,153,0.2);
        }
      25%{
          background-color: rgba(153,153,153, 0.4);
          box-shadow: 12px 0px 0px 0px rgba(153,153,153,2),
                      24px 0px 0px 0px rgba(153,153,153,0.2);
      }
      75%{ background-color: rgba(153,153,153, 0.4);
          box-shadow: 12px 0px 0px 0px rgba(153,153,153,0.2),
                      24px 0px 0px 0px rgba(153,153,153,1);
        }
  }

  @keyframes typing{
     0%{
          background-color: rgba(153,153,153, 1);
          box-shadow: 12px 0px 0px 0px rgba(153,153,153,0.2),
                      24px 0px 0px 0px rgba(153,153,153,0.2);
        }
      25%{
          background-color: rgba(153,153,153, 0.4);
          box-shadow: 12px 0px 0px 0px rgba(153,153,153,2),
                      24px 0px 0px 0px rgba(153,153,153,0.2);
      }
      75%{ background-color: rgba(153,153,153, 0.4);
          box-shadow: 12px 0px 0px 0px rgba(153,153,153,0.2),
                      24px 0px 0px 0px rgba(153,153,153,1);
        }
  }
  h1, h2, h3, h4, h5, h6{
    font-weight: 700!important;
  }
}
