.project-single{

  .wp-block-image{
    margin-bottom: 45px;
    img{
      width: 100%;
      height: auto;
    }
  }
  .wp-block-columns{
    margin: 0 auto 45px;
    display: flex;
    @media (max-width: 480px){
      flex-flow: column;
    }
    .wp-block-column{
      padding: 0 15px;
      max-width: 41.66666667%;
      @media (max-width: 480px){
        max-width: 100%;
        margin: auto;
      }
      &:first-of-type{
        margin-left: auto;
      }
      &:last-of-type{
        margin-right: auto;
      }

      h3{
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 4px;
        margin-bottom: 15px;
      }
      p{
        font-size: 12px;
        line-height: 20px;
        color: #999
      }
    }
  }

  /*body {
  background: url(../img/pantallas/project.png)no-repeat 0 0;
  opacity: .6;
}*/

section ul.filter li a{
  font-family: "MintGrotesk-Bold";
}
section.popup-share {
  bottom: 40px;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  z-index: 1000;
  display: none;
}

section.popup-share .box {
  background: #f3f3f3;
  text-align: center;
  height: 120px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

section.project {
  padding-top: 12px;
}
section.project h1{
  font-family: "MintGrotesk-Bold";
}
section.project h1 p{
  font-family: "MintGrotesk-Bold";
}

section.project h2 {
  font-family: "MintGrotesk-Bold";
  margin-top: 6px;
  text-align: center;
  text-transform: uppercase;
}

section.project h3 {
  font-family: "MintGrotesk-Bold";
  margin-bottom: 4px;
  text-transform: uppercase;
}

section.project h4 {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}

section.project h5 {
  color: #1b1b1b;
  font-family: 'NHaasGroteskTXStd-75Bd';
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 0;
  margin-top: 19px;
  text-align: left;
  text-transform: uppercase;
}

section.project p.grey {
  font-family: "MintGrotesk-Light";
  margin-bottom: 10px;
}

section.project span.num {
  margin-left: 30px;
  margin-right: 30px;
}

section.project .col-md-5 .col-md-10 div.division,
section.project .col-md-5 .col-md-10 h3 {
  margin-left: 13px;
}

section.project div.full-wrapper {
  margin: 0 auto 45px auto;
}

section.share-project ul.share,
section.popup-share ul.share {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

section.share-project ul.share li:first-child,
section.popup-share ul.share li:first-child {
  display: block;
}

section.share-project ul.share li,
section.popup-share ul.share li {
  color: #999;
  display: inline-block;
  font-family: "MintGrotesk-Light";
  font-size: 12px;
  line-height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

section.share-project ul.share li a,
section.popup-share ul.share li a {
  color: #999;
  font-weight: normal;
  cursor: pointer;
}

section.share-project ul.share li:hover a,
section.popup-share ul.share li:hover a {
  text-decoration: underline;
}

section.project .col-md-5 div.division {
  margin-bottom: 15px;
}

section.suggested {
  padding-bottom: 87px;
}
section.suggested h2{
  font-family: "MintGrotesk-Bold";
}

section.suggested h3{
  font-family: "MintGrotesk-Bold";
}

section.suggested .box {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 68px;
  vertical-align: top;
  width: 213px;
}

section.suggested .box h3 {
  font-size: 10px;
  line-height: 12px;
  text-align: left;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

section.suggested .box img.thumb {
  margin-bottom: 19px;
  width: 100%;
  object-fit: cover;
}

section.suggested .box:last-child {
  /*display: none;*/
}

section.suggested .col-md-10 {
  text-align: center;
}

section.suggested .box div.division {
  display: none;
}

.popup-share .box i{
  cursor: pointer;
  display: inline-block;
  height: 45px;
  width: 45px;
  position: absolute;
  top: 0;
  right: 0;
}

section.share-project {
  padding-top: 30px;
  padding-bottom: 40px;
}

.quote {
  margin-top: 25px;
  margin-bottom: 60px;
}

.quote p:before {
  content: 'â€œ';
}

.quote p:after {
  content: 'â€';
}

.branding h2,
.interactive h2,
.architecture h2 {
  margin-bottom: 45px;
}

.branding .client,
.branding .values,
.branding .problem,
.branding .solution {
  margin-bottom: 45px;
}

.interactive .client,
.interactive .values,
.interactive .problem,
.interactive .solution {
  margin-bottom: 45px;
}

.architecture .client,
.architecture .values,
.architecture .problem,
.architecture .solution {
  margin-bottom: 45px;
}

.popup-share .detail {
  float: left;
  margin-left: 18px;
  margin-top: -17px;
  /*position: absolute;
  top: -17px;
  left: 33px;*/
}

.popup-share .box i {
  top: 0;
}


@media (max-width: 991px) {
  section.project {
    /*padding-bottom: 18px;*/
    padding-top: 35px;
  }

  section.project h2 {
    margin-top: 2px;
  }

  section.project h5 {
    margin-top: 19px;
  }

  section.project span.num {
    margin-left: 15px;
  }

  section.suggested {
    padding-bottom: 75px;
    padding-top: 19px;
  }

  section.suggested h2 {
    font-size: 12px;
  }

  section.suggested .box {
    margin-top: 45px;
    width: 160px;
  }

  section.suggested .box img.thumb {
    margin-bottom: 16px;
  }

  section.project h4 {
    margin-top: 1px;
  }

  section.popup-contact .box {
    height: 140px;
    width: 490px;
  }

  section.popup-contact .box h1 {
    margin-bottom: 15px;
  }

  .popup-share .box i {
    top: 0;
  }

  .quote {
    margin-bottom: 70px;
  }

  .popup-share .detail {
    float: left;
    margin-left: 18px;
    margin-top: -6px;
  }
}

@media (max-width: 767px) {
  section.project {
    padding-bottom: 22px;
    padding-top: 22px;
  }

  section.project h2 {
    margin-top: 0px;
    margin-bottom: 18px;
  }

  section.project h3 {
    line-height: 23px;
    margin-bottom: 0;
  }

  section.project h5 {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 8px;
  }

  section.project p.grey {
    margin-bottom: 15px;
  }

  section.project div.full-wrapper {
    margin: 15px auto;
  }

  section.share-project ul.share li:first-child {
    border-right: none;
    display: inline-block;
  }

  section.share-project ul.share li {
    border-right: 1px solid #999;
    font-size: 9px;
    line-height: 9px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 8px;
    padding-right: 8px;
    text-transform: uppercase;
  }

  section.project .col-md-5 div.division {
    margin-bottom: 17px;
  }

  section.project .col-md-5 .col-md-10 h3,
  section.project .solution h3 {
    margin-left: 0;
    margin-top: 50px;
  }

  section.project .col-md-5 .col-md-10 div.division,
  section.project .col-md-5 .col-md-10 h3 {
    margin-left: 0;
  }

  section.project span.num {
    margin-left: 0;
    margin-right: 15px;
  }

  section.suggested {
    padding-bottom: 40px;
    padding-top: 22px;
  }

  section.suggested h1 {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 26px;
  }

  section.suggested .box h2 {
    margin-bottom: 8px;
  }

  section.suggested .box {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    width: 100%;
  }

  section.suggested .box:last-child {
    display: block;
  }

  section.suggested .box img.thumb {
    margin-bottom: 19px;
  }

  section.suggested .box div.division {
    display: block;
  }

  section.popup-share .box {
    background: #f3f3f3;
    text-align: center;
    height: 115px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .popup-share .box i {
    margin-left: 10px;
  }

  .branding h2,
  .interactive h2,
  .architecture h2 {
    margin-bottom: 25px;
  }

  .branding .client,
  .branding .values,
  .branding .problem,
  .branding .solution {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .interactive .client,
  .interactive .values,
  .interactive .problem,
  .interactive .solution {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .architecture .client,
  .architecture .values,
  .architecture .problem,
  .architecture .solution {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .project .values,
  .project .solution {
    padding-top: 30px;
    margin-top: 0;
  }

  .project .solution h3 {
    margin-top: 0 !important;
  }

  .project .values p,
  .project .solution p {
    margin-bottom: 15px !important;
  }

  .popup-share .detail {
    float: left;
    margin-left: 18px;
    margin-top: -1px;
  }
}


@media (min-width: 1200px) {
  section.project .col-md-5 .col-md-10 div.division,
  section.project .col-md-5 .col-md-10 h3 {
    margin-left: 0;
  }
}

.no-opacity{
  opacity: 1;
}
.row{
  justify-content: center;
}
.box{
  display: inline-block;
}
}
