.services{
  /*body {
	background: url(../img/pantallas/services_320.png)no-repeat 0 0;
	opacity: .6;
}*/
  .disciplines{
    .container{
      .row.title{
        .col-1{
          text-align: center;
        }
      }
      .row{
        .col-xs-12{
          p.black{
            font-family: "MintGrotesk-Regular";
          }
        }
      }
    }
  }

  .services{
    .container{
      .row{
        .col-sm-8{
          .services-list{
            .service-item{
              p.grey{
                font-family: "MintGrotesk-Light";
              }
            }
          }
        }
      }
    }
  }

  section.disciplines {
  	padding-bottom: 23px;
  	padding-top: 35px;
    .services_main{
      p{
        font-size: 14px;
        @media (max-width: 480px){
          font-size: 12px;
          text-align: left;
        }
      }
    }
  }

  section.disciplines h1 {
    font-family: "MintGrotesk-Bold";
  	margin-bottom: 44px;
    @media (max-width: 480px){
      max-width: 225px;
      margin: auto;
      margin-bottom: 30px;
    }
  }

  section.disciplines .col-sm-12 {
  	text-align: center;
  }

  section .discipline {
  	display: inline-block;
  	height: 300px;
  	margin-bottom: 49px;
  	margin-left: -10px;
  	margin-right: -10px;
  	margin-top: 56px;
  	overflow: hidden;
  	position: relative;
  	vertical-align: middle;
  	width: 300px;
  	z-index: 10;
  }

  section .discipline .background {
  	background: #e3e3e3;
  	-moz-border-radius: 150px;
  	-webkit-border-radius: 150px;
  	border-radius: 150px;
  	height: 300px;
  	opacity: .5;
  	position: absolute;
  	width: 300px;
  }

  section .discipline:nth-child(2) {
  	z-index: 1;
  }

  section .discipline p {
    font-family: "MintGrotesk-Bold";
  	margin-bottom: 0;
    @media (max-width: 480px){
      font-size: 10px;
    }
  }

  section.services {
  	padding-bottom: 22px;
  	padding-top: 23px;
  	margin-bottom: 90px;
    .col-sm-6{
      h2{
        font-family: "MintGrotesk-Bold";
        font-size: 24px;
        margin-bottom: 65px;
        @media (max-width: 480px){
          margin-bottom: 30px;
          margin-top: 0;
          font-size: 14px;
        }
      }
    }
    p{
      font-size: 14px;
      text-align: center;
      @media (max-width: 480px){
        font-size: 12px;
        text-align: left;
      }
    }
    .service-item{
      p{
        font-size: 12px;
        text-align: left;
      }
    }
  }

  section.services h3 {
    font-family: "MintGrotesk-Bold";
  	margin-bottom: 65px;
  }

  section.services .mobile {
  	display: none;
  }

  section.services h3 {
    font-family: "MintGrotesk-Bold";
  	margin-bottom: 20px;
  	margin-top: 20px;
  }

  section.services p.black {
    font-family: "MintGrotesk-Regular";
  	margin-bottom: 20px;
  }

  section.services .division {
  	margin-top: 24px;
  }

  section.zed {
  	padding-bottom: 75px;
  	padding-top: 23px;
  }

  section.zed h1 {
  	margin-bottom: 66px;
  }

  section.zed h3 {
  	margin-bottom: 3px;
  }

  section.zed .col-12 {
  	margin-bottom: 67px;
  	margin-top: 66px;
  	text-align: center;
  }

  section.zed .col-12 img {
  	margin-left: 15px;
  	margin-right: 15px;
  }

  section.zed p.grey {
    font-family: "MintGrotesk-Light";
  	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    margin-bottom: 29px;
    margin-top: 15px;
  }

  section.zed .col-md-6 .division {
  	margin-bottom: 9px;
  	margin-top: 9px;
  }

  section h3 {
  	vertical-align: middle;
  }

  .service-item {
  	vertical-align: top;
  }

  .services_main {
  	text-align: center;
  }

  .services-list h3,
  section.services .services-list p {
  	text-align: left;
  }

  @media (max-width: 991px) {
  	section.disciplines {
  		padding-bottom: 25px;
  		padding-top: 39px;
  	}

  	section.disciplines h1 {
      margin-bottom: 30px;
  	}

  	section .discipline {
  		height: 260px;
  		margin-bottom: 59px;
  		margin-left: -20px;
  		margin-right: -20px;
      margin-top: 47px;
  		width: 260px;
  	}

  	section .discipline .background {
  		-moz-border-radius: 130px;
  		-webkit-border-radius: 130px;
  		border-radius: 130px;
  		height: 260px;
  		width: 260px;
  	}

  	section .discipline h1 {
      margin-bottom: 0;
  	}

  	section.services {
  		padding-bottom: 24px;
  		padding-top: 24px;
  	}

  	section.services h1 {
  		margin-bottom: 36px;
  	}

  	section.services .desktop {
  		display: none;
  	}

  	section.services .mobile {
  		display: block;
  	}

  	section.services h2 {
  		font-size: 20px;
  	}

  	section.services p.black {
      font-family: "MintGrotesk-Regular";
  		margin-bottom: 0;
  	}

  	section.services .division {
      margin-top: 33px;
  	}

  	section.zed {
  		padding-bottom: 73px;
  		padding-top: 23px;
  	}

  	section.zed h1 {
      margin-bottom: 37px;
  	}

  	section.zed h2 {
      margin-bottom: 5px;
  	}

  	section.zed p.grey {
  		margin-bottom: 38px;
  		margin-top: 14px;
  	}

  	section.zed .col-md-12 {
  	  margin-bottom: 72px;
  	  margin-top: 78px;
  	}

  	section.zed img.imac {
  		width: 289px;
  	}

  	section.zed img.ipad {
  		width: 230px;
  	}

  	section.zed img.iphone {
  		width: 57px;
  	}

  	section.services {
  		margin-bottom: 86px;
  	}

  	.services-list h2,
  	.services-list p {
  		text-align: left;
  	}
  }

  @media (max-width: 767px) {
  	section.disciplines {
  		padding-bottom: 22px;
      padding-top: 37px;
  	}

  	section.disciplines h1 {
      margin-bottom: 33px;
  	}

  	section .discipline {
  		margin-bottom: 58px;
  		margin-left: -7px;
  		margin-right: -7px;
  		margin-top: 51px;
  		height: 110px;
  		width: 110px;
  	}

  	section .discipline .background {
  		-moz-border-radius: 55px;
  		-webkit-border-radius: 55px;
  		border-radius: 55px;
  		height: 110px;
  		width: 110px;
  	}

  	section .discipline h1 {
  		font-size: 10px;
  		line-height: 10px;
      margin-bottom: 0;
  	}

  	section.services {
  		padding-bottom: 23px;
  		padding-top: 22px;
  	}

  	section.services h1 {
      margin-bottom: 31px;
  	}

  	section.services h2 {
      margin-top: 41px;
  	}

  	section.services .division {
      margin-top: 49px;
  	}

  	section.zed {
  		padding-bottom: 32px;
  	}

  	section.zed h1 {
      margin-bottom: 29px;
  	}

  	section.zed h2 {
      	margin-bottom: 3px;
  	}

  	section.zed p.grey {
  		-webkit-column-count: 1;
  	  -moz-column-count: 1;
  	  column-count: 1;
  	  -webkit-column-gap: 0;
  	  -moz-column-gap: 0;
  	  column-gap: 0;
  	  margin-bottom: 43px;
      margin-top: 16px;
  	}

  	section.zed .col-md-12 {
  	  margin-bottom: 14px;
  	  margin-top: 2px;
  	}

  	section.zed .col-md-12 img {
  		margin-bottom: 50px;
  		margin-top: 50px;
  	}

  	section.zed img.imac {
  		width: 248px;
  	}

  	section.zed img.ipad {
  		width: 250px;
  	}

  	section.zed img.iphone {
  		width: 92px;
  	}

  	section.zed .col-md-6:last-child .row:last-child .division {
  		display: none;
  	}

  	section.services {
  		margin-bottom: 50px;
  	}

  	.service-item h2,
  	.service-item p {
  		text-align: left;
  	}
  }

  @keyframes strike{
    0%   { width : 0; }
    100% { width: 100%; }
  }

  .services_main a:hover:after{
    content: "";
    left: 0px;
    margin-top: calc(0.300em / 2 * -1);
    position: absolute;
    width: 100%;
    right: 0;
    color: black;
    top: 50%;
    height: 3px;
    background-color: black;
    animation-name: strike;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-direction: alternate;
  }
  .row{
    justify-content: center;
  }
  h1, h2, h3, h4, h5, h6{
    font-weight: 700!important;
  }
  .services{
    .container{
      .row.title{
        text-align: center;
      }
    }
  }
  span.detail{
    font-family: "MintGrotesk-Bold";
    text-align: center;
  }
}
