.stories-single{



  .single-post-wrap p {
    font-size: 10px;
    line-height: 12px;
  }
  .single-post-wrap{
    position: relative;
    padding-top: 20px;
  }

  .single-post-wrap .row {
    clear: both;
  }

  .single-post-wrap h1 {
    font-family: "MintGrotesk-Bold";
    font-size: 32px;
    color: #1C1C1C;
    letter-spacing: -0.8px;
    line-height: 33px;
    margin-bottom: 7px;
    text-transform: uppercase;
  }

  .single-post-wrap .social-links {
    margin-bottom: 58px;
  }

  .single-post-wrap .popular-posts .popular-post {
    margin-bottom: 18px;
  }

  .single-post-wrap .popular-posts a h5 {
    font-family: "NHaasGroteskTXStd-55Rg";
    font-size: 12px;
    color: #1C1C1C;
    letter-spacing: 0;
    line-height: 20px;
  }

  .single-post-wrap .popular-posts p {
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
    line-height: 20px;
  }

  .single-post-wrap .social-links h3,
  .single-post-wrap .popular-posts h3 {
    font-family: "MintGrotesk-Bold";
    font-size: 12px;
    color: #1C1C1C;
    letter-spacing: 0;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 9px;
    border-bottom: solid 1px #E3E3E3;
    margin-bottom: 10px;
  }

  .single-post-wrap .social-links a {
    font-family: "NHaasGroteskTXStd-55Rg";
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
    cursor: pointer;
    display: table;
    line-height: 20px;
    border-bottom: solid 1px transparent;
  }

  .single-post-wrap .social-links a:hover {
    text-decoration: underline;
  }

  .post-details-bar {
    margin-bottom: 34px;
  }

  .post-wrap .title {
    font-family: "MintGrotesk-Bold";
    margin-bottom: 56px;
  }

  .post-wrap .social-icons {
    display: table;
    margin: 0 auto;
    margin-bottom: 17px;
    margin-top: 9px;
  }

  .post-wrap .social-icons #plus-icon{
    margin-right: 0;
  }

  .post-wrap a .social-icon {
    color: #1C1C1C;
  }

  .post-wrap a:not(:last-child) {
    margin-right: 12px;
  }

  .post-wrap img{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 18px;
    height: auto;
  }

  .post-wrap .image-footer {
    font-family: "NHaasGroteskTXStd-55Rg";
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
    line-height: 20px;
    display: inline-block;
    margin-bottom: 36px;
  }

  .post-wrap p {
    font-family: "NHaasGroteskTXStd-55Rg";
    font-size: 14px;
    color: #3A3A3A;
    letter-spacing: 0;
    line-height: 23px;
    margin-bottom: 10px;
  }

  .post-wrap .control-links  {
    display: inline-block;
    width: 100%;
    margin-bottom: 61px;
    margin-top: 15px;
  }

  .post-wrap .control-links a {
    font-family: "MintGrotesk-Bold";
    font-size: 10px;
    color: #1C1C1C;
    letter-spacing: 0;
    line-height: 12px;
  }

  .control-links a {
    font-family: "NHaasGroteskTXStd-55Rg";
    font-size: 12px;
    color: #3A3A3A;
    letter-spacing: 0;
    line-height: 20px;
  }

  .post-wrap .control-links > div:last-child a {
    float: right;
    margin-top: 6px;
  }

  .post-details-bar p {
    font-family: "NHaasGroteskTXStd-55Rg";
    font-size: 12px;
    color: #1C1C1C;
    letter-spacing: 0;
    line-height: 20px;
  }

  .post-details-bar div > div p:last-child {
    color: #999999;
  }

  .floating-post-actions{
    position: fixed;
    top: 200px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .floating-post-actions .post-actions {
    float: right;
  }

  #pinterest-icon,
  #reddit-icon,
  #google-plus-icon {
    display: none;
    transition: 1s;
  }

  .popular-posts .popular-post a {
    color: #1C1C1C;
    display: inline-block;
  }

  .popular-posts .popular-post a:hover {
    text-decoration: underline;
  }

  .post-wrap p a {
    color: #1C1C1C;
    text-decoration: underline;
  }

  .social-links-wrap {
    margin-top: -70px;
  }

  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: black;
    background-color: #fff;
  }

  .filter-menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

  }

  .filter-label{
    margin-right: 7px;
    color: #999999;
    text-transform: uppercase;

    font-size: 10px;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
  }

  .nav>li>a:focus{
    background-color: #ffffff;
  }

  .nav-content{
    font-family: 'NHaasGroteskTXStd-75Bd';
    font-size: 10px;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 24px;
    text-transform: uppercase;
    width: 700px;

  }

  .nav-content .link{
    font-family: "MintGrotesk-Bold";
    color: #999;

    height: 30px;
      border: 1px solid #E3E3E3;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 11px;
      margin-right: 7px;
  }

  .nav-content .nav-item.active a{
    color: black;
    border: 1px solid black;

  }

  .nav-content .nav-item .nav-link .qty{
    color: #999;
  	display: inline-block;
  	font-family: 'NHaasGroteskTXStd-55Rg';
    font-size: 8px;
    letter-spacing: 0.5px;
    line-height: 20px;

  	margin-left: 3px;
  }

  .nav-content .nav-item.active .nav-link .qty{
    color: black;
  	display: inline-block;
  	font-family: 'NHaasGroteskTXStd-55Rg';
    font-size: 8px;
    letter-spacing: 0.5px;
    line-height: 20px;

  	margin-left: 3px;
  }

  .nav-content a{
    color: inherit;
  }

  .post-content{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .post-content p{
    font-family: "MintGrotesk-Regular";
    margin-left: auto;
    margin-right: auto;
    max-width: 727px;
  }

  .single-post-wrap h3{
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;

  }

  .single-post-wrap .c-gray{
    font-family: "MintGrotesk-Bold";
    color: #999999;
    margin: 0;
  }

  .single-post-wrap .category-title{
    margin-bottom: 7px;
    font-family: "MintGrotesk-Bold";
  }

  .row.post-heading{
    margin-bottom: 50px;
  }

  .related .related-image img{
    width: 100%;
    height: 310px;
    object-fit: cover;
  }

  .related{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .related hr{
    padding-top: 40px;
  }

  .related .info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .related .info p{
    font-size: 10px;
    font-family: "MintGrotesk-Bold";
    line-height: 12px;
    letter-spacing: normal;
    text-transform: uppercase;
  }


  .related .info .c-gray{
    font-family: "MintGrotesk-Bold";
    color: #999999;
  }

  .related .title{
    width: 70%;
  }

  .related .title h3{
    font-family: "MintGrotesk-Bold";
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -0.5px;

  }

  .related .related-title {
    font-family: "MintGrotesk-Bold";
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 14px;
    letter-spacing: -0.35px;
    line-height: 20px
  }

  .social{
    position: fixed;
    top: 160px;
    right: 30px;
  }

  .social .social-links{
    cursor: pointer;
    border: 1px solid #E3E3E3;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #ffffff;
  }

  .next-post{
      transform: rotate(95deg);
      margin-left: 3px;
  }

  .prev-post{
    margin-right: 3px;
  }

  .control-links .align-next {
    text-align: right;
  }


  .social .social-links img{
    width: 11px;
    height: 11px;
  }


  .social-mobile{
    display: flex;
    align-items: center;
    font-family: 'NHaasGroteskTXStd-75Bd';
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #999999;

    margin-bottom: 40px;
  }


  .social-mobile .c-gray{
    margin-right: 8px;
  }

  .social-mobile .social-links{
    cursor: pointer;
    border: 1px solid #E3E3E3;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    background-color: #ffffff;
  }

  .social-mobile .social-links img{
    width: 11px;
    height: 11px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .nav-pills>li {
    float: none;
    display: inline-block;
  }

  .nav-content{
    text-align: center;
  }

  .nav-item{
    margin-bottom: 10px;
  }

  .filter-label{
    font-family: "MintGrotesk-Bold";
    white-space: nowrap;
  }

  .filters-row{
    text-align: center;
  }

  .filters-row .filter-label{
    margin-bottom: 10px;
  }

  @media (min-width: 1200px) {
    .container {
        width: 970px !important;
        max-width: 970px !important;
    }
  }

  @media (min-width: 992px) {
    .social-icons a {
      cursor: pointer;
    }
  }

  @media (min-width: 320px) and (max-width: 767px) {
    .single-post-wrap .social-links a {
      display: inline-block;
    }

    .post-wrap .control-links  {
      margin-bottom: 0;
    }

    .mobile-post-actions {
      display: inline-block;
      width: 100%;
      border-top: solid 1px #E3E3E3;
      padding-top: 33px;
    }

    .mobile-post-actions h3 {
      padding-bottom: 29px !important;
      border-bottom: none !important;
    }

    .single-post-wrap .social-links a i {
      font-size: 14px;
    }

    .post-wrap a:not(:last-child) {

    }

    .social-links {
      margin-bottom: 30px;
    }

    .popular-posts {
      border-top: solid 1px #E3E3E3;
      padding-top: 32px;
      padding-bottom: 32px;
      border-bottom: solid 1px #E3E3E3;
    }

    .popular-posts h3 {
      margin-bottom: 20px !important;
      padding-bottom: 0 !important;
    }

    .popular-posts .popular-post a {
      display: inline-block;
    }

    .popular-posts .popular-post p {
      margin-bottom: 0;
    }

    .control-links {
      margin-top: 47px;
      padding-bottom: 83px;
    }

    .post-details-bar h2 {
      font-size: 14px;
      letter-spacing: -0.35px;
      line-height: 18px;
    }

    .single-post-wrap .popular-posts .popular-post {
      margin-bottom: 20px;
    }

    .mobile-post-actions .social-links {
      margin-bottom: 32px;
    }

    .mobile-post-actions .popular-posts{
      padding-bottom: 14px;
    }

    .mobile-post-actions .social-links h3 {
      margin-bottom: 31px;
      padding-bottom: 0 !important;
    }

    .single-post-wrap {
      padding-top: 80px;
    }

    .row.m-0 {
      margin: 0;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .social{
      right: 15px;
    }

    .single-post-wrap .post-content .col-lg-12{
      padding: 0;
    }

    .related .col-lg-6:nth-child(3){
      padding-left: 0;
      padding-right: 10px;

    }

    .related .col-lg-6:last-child{
      padding-right: 0;
      padding-left: 10px;
    }

    .related .title {
      width: 75%;
    }

    .nav-content{
      width: 600px;
    }

  }

  @media (max-width: 767px) and (min-width: 320px){

  .filter-label {
      width: 70px;
  }

  .nav-content.nav.nav-pills {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    display: inline-flex;
  }

  .filter-menu::before {
    content: " ";
    height: 44px;
    width: 59px;
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255,255,255,0.29) 100%);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .single-post-wrap h2 {
    font-size: 22px;
    color: #1C1C1C;
    letter-spacing: -0.5px;
    line-height: 20px;
  }

  .control-links .align-next{
    padding-right: 15px;
  }

  .control-links .prev-post{
    padding-left: 15px;
  }

  .related .related-image img{
    height: 200px;
  }

  .related .title {
    width: 100%;
  }

  .related .col-lg-6 + .col-lg-6{
    margin-top: 45px;
  }

  }
  .row{
    justify-content: center;
  }
  .nav-content.nav.nav-pills{
    justify-content: center;
  }
  .blog{
    .blog-posts{
      .container{
        .post-list{
          .row.m-0.divisor{
            display: block;
          }
        }
      }
    }
  }
}
