- titulo = "About"
- tituloCabecera = "Headline"
- var subtituloCabecera = "Lorem ipsum dolor sit amet."



html(lang='es')
    include includes/head.pug

    body
        include includes/header.pug
        main.about
            section.about
              #fullpage.fullpage-wrapper
                .section.fp-noscroll.fp-section.fp-table
                  .fp-tableCell
                    .container
                      .row
                        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
                          h1
                            | WE ARE ANAGRAMA.
                            br
                            | WEAPONS OF MASS SEDUCTION.
                        .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
                          h2 WE ARE A WORLD CLASS CREATIVE AGENCY.
                      .row
                        .col-xs-12.col-sm-6.col-sm-offset-3.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
                          p
                            | WE OFFER CREATIVELY-DRIVEN BRANDING AND DESIGN SERVICES FOR CLIENTS AROUND THE WORLD. WE BELIEVE IN STRATEGY, BEAUTY, DEADLINES AND DESIGN.
                .section.fp-noscroll.fp-section.fp-table.active.fp-completely
                  .fp-tableCell
                    .container
                      .row
                        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1
                          h3
                            | 01
                            span /
                            | 10
                          h1.stretch-text TOGETHER WE STAND
                        .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
                          h2
                            | IF YOU HAVE A MILLION PROBLEMS, WE HAVE 
                            br.hidden-xs
                            | A SOLUTION FOR EACH OF THEM.
                      .row
                        .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
                          p
                            | WE OFFER WORLD-CLASS, INTEGRAL BRANDING SERVICES DEVELOPED 
                            br.visible-lg
                            | THROUGH YEARS OF HARD WORK AND DEDICATION, INCLUDING BRAND STRATEGY, PRINT AND DIGITAL DESIGN, WEB DESIGN AND DEVELOPMENT, SOFTWARE SERVICES, AS WELL AS ARCHITECTURE AND INTERIOR DESIGN.
                .section.fp-noscroll.animation.fp-section.fp-table
                  .fp-tableCell
                    .container
                      .row
                        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
                          #02_animation_container.animation_container_02
                            canvas#02_canvas.canvas_02
                            #02_dom_overlay_container
                          h3
                            | 02
                            span /
                            | 10
                          h1
                            | INTEGRATED WORKFLOW:
                            br
                            | IDEA. CONCEPT. DESIGN. SOLUTION.
                        .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
                          h2 PERFECT TIMING IS OUR OBSESSION.
                      .row
                        .col-xs-8.col-xs-offset-2.col-lg-6.col-lg-offset-3
                          p
                            | WERE CRAZY ABOUT DEADLINES. WE CAREFULLY MANAGE OUR TIME USING A CENTRALIZED SYSTEM THAT OVERSEES EACH OF OUR DEPARTMENTS. WITH MORE THAN 100 ACTIVE CLIENTS, OUR OBSESSION WITH DEADLINES HELPS US MANAGE AND MINIMIZE DELAYS.
                .section.fp-noscroll.animation.fp-section.fp-table
                  .fp-tableCell
                    .container
                      .row
                        .col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
                          #03_animation_container.animation_container_03
                            canvas#03_canvas.canvas_03
                            #03_dom_overlay_container
                          h3
                            | 03
                            span /
                            | 10
                          .section-three-title
                            h1 WE ARE AN EXPERIENCED TEAM.
                        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
                          h2
                            | WE ARE A YOUNG, TALENTED TEAM OF PROFESSIONALS, 
                            br.hidden-xs
                            | AND PROUD OF IT.
                      .row
                        .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
                          p
                            | WE CONSTANTLY HIRE FRESH, ENTHUSIASTIC TALENT BECAUSE INTERESTING THINGS HAPPEN WHEN THEY WORK TOGETHER WITH OUR EXPERT STAFF. WE STRONGLY BELIEVE THAT GREAT RESULTS EMERGE WHEN YOUTH MEETS EXPERIENCED DEFIANCE.
                .section.fp-noscroll.fp-section.fp-table
                  .fp-tableCell
                    .container
                      .row
                        .col-xs-12.col-sm-10.col-sm-offset-1.section4
                          h3
                            | 04
                            span /
                            | 10
                          h1
                            .birdman.birdman-first
                              span E
                              span V
                              span E
                              span R
                              span Y
                              span W
                              span H
                              span E
                              span R
                              span E
                              span .
                              span  
                              span E
                              span V
                              span E
                              span R
                              span Y
                              span T
                              span H
                              span I
                              span N
                              span G
                              span .
                              span  
                              span E
                              span V
                              span E
                              span R
                              span Y
                              span O
                              span N
                              span E
                              span .
                          h1 WE ARE PRESENT IN MULTIPLE CONTINENTS.
                        .col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
                          h2
                            | FROM MOUNT FUJI TO THE SWISS ALPS 
                            br.hidden-xs.visible-md.visible-lg
                            | AND OVER NIAGARA FALLS.
                        .row
                          .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
                            p
                              | IT DOESNT MATTER WHERE YOU ARE. WEVE MASTERED THE ART OF REMOTE WORKING SO WE CAN CREATE OUTSTANDING DESIGN PROJECTS AROUND THE WORLD.
                .section.fp-noscroll.fp-section.fp-table
                  .fp-tableCell
                    .container
                      .row
                        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
                          h3
                            | 05
                            span /
                            | 10
                          h1
                            | WE HAVE BEEN PUBLISHED 
                            br
                            | MORE THAN 
                            .counter-container
                              .Counter
                                .Counter-unit
                                  .Counter-number.thousand-align 0
                                  .Counter-number.thousand-align 0
                                .Counter-unit
                                  .Counter-number 0
                                  .Counter-number 0
                                .Counter-unit
                                  .Counter-number 0
                                  .Counter-number 0
                                .Counter-unit
                                  .Counter-number 0
                                  .Counter-number 0
                            | TIMES
                      .row      
                        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
                          h2 READ. PIN. LIKE. SHARE. PRINT.
                      .row
                        .col-xs-8.col-xs-offset-2.col-lg-6.col-lg-offset-3
                          p
                            | WE GRATEFULLY RECEIVE INTERNATIONAL MEDIA REQUESTS DAILY. OUR WORK IS PRESENT IN MAGAZINES AROUND THE WORLD, FROM UNDERCOVER ZINES IN INDONESIA TO THE MOST WIDELY READ NEWSPAPERS ON EARTH. WE LOVE PRINT.
                .section.six.fp-noscroll.fp-section.fp-table
                  .fp-tableCell
                    .container
                      .row
                        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
                          h3
                            | 06
                            span /
                            | 10
                          .text-effect-container
                            span.efectooverlay.efecto1
                            h1.black-overlay-animation.text1 WE DONT SUGARCOAT ANYTHING.
                          .text-effect-container2
                            span.efectooverlay.efecto2
                            h1.black-overlay-animation.text2 EXPECT BRUTAL HONESTY.
                        .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-effect-container3
                          span.efectooverlay2
                          h2.black-overlay-animation-twolines
                            | WE KNOW ABOUT BUSINESS AND DESIGN, 
                            br.hidden-sm.hidden-xs
                            |  SO WERE NOT AFRAID 
                            br.visible-sm
                            |  TO SPEAK OUR MINDS.
                      .row
                        .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
                          p
                            | IF WE THINK THERES A BETTER WAY FOR YOU TO REACH YOUR GOALS, WE WILL DEFINITELY LET YOU KNOW. WE SHARE INSIGHT ON HOW TO GROW SMART AND GET NOTICED. GROWING UP IS PAINFUL, WE KNOW. BUT WERE HERE TO HELP.
                .section.section-seven.fp-noscroll.fp-section.fp-table
                  .fp-tableCell
                    .container
                      .vertical-line-skyblue
                      .row
                        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
                          h3
                            | 07
                            span /
                            | 10
                          .animation-wrap-h1
                            h1 THE HARDEST ROAD IS THE ONE
                            .line-skyblue.skyblue-h1
                            h1 THAT GETS YOU FARTHER
                            .line-skyblue.skyblue-h1
                        .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
                          .animation-wrap-h2
                            h2 WE DONT BELIEVE IN SELF-HELP BOOKS.
                            .line-skyblue.skyblue-h2
                      .row
                        .col-xs-8.col-xs-offset-2.col-lg-6.col-lg-offset-3
                          p
                            | WE ARE OBSESSIVE AND CAREFULABOUTDESIGN PRODUCTION AND IMPLEMENTATION. 
                            br.hidden-xs
                            | WE ARE DEVOTED TO EXPERIMENTAL DESIGN AND WITH THOSE WHO TAKE RISKS. 
                            br.hidden-xs
                            | WE CREATE BRANDS THAT QUESTION ESTABLISHMENT AND, BY DOING SO, HAVE MADE THE WORLD NOTICE.
                .section.fp-noscroll.fp-section.fp-table
                  .fp-tableCell
                    .container
                      .row
                        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
                          #graffiti_animation_container
                            canvas#graffiti_canvas
                            #graffiti_dom_overlay_container
                          h3
                            | 08
                            span /
                            | 10
                          h1
                            | A TRUE DREAM TEAM,
                            br
                            | THATS WHO WE ARE.
                      .row      
                        .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
                          h2
                            | ONLY THE BEST WORK AT OUR FIRM: PASSIONATE, CURIOUS, INTERESTING, 
                            br.visible-sm
                            | AND HONEST PEOPLE WHO BELIEVE IN TEAMWORK.
                      .row
                        .col-xs-8.col-xs-offset-2.col-lg-6.col-lg-offset-3
                          p
                            | THANKS TO OUR WORK AND REPUTATION, MANY TALENTED MEN AND WOMEN APPROACH US TO BECOME A PART OF OUR TEAM. EXTRAORDINARY PEOPLE FROM MEXICO AND AROUND THE WORLD WORK AT THE FIRM AND WE EXPECT MORE TO COME (MAINLY BECAUSE WE LOVE LEARNING NEW LANGUAGES AND TRYING NEW FOOD).
                .section.fp-noscroll.fp-section.fp-table
                  .fp-tableCell
                    .container
                      .row
                        .col-xs-12.col-sm-6.col-sm-offset-3.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
                          #crown_animation_container
                            canvas#crown_canvas
                            #crown_dom_overlay_container
                          h3
                            | 09
                            span /
                            | 10
                          h1 WE ARE JURORS AND SPEAKERS AT INTERNATIONAL FORUMS.
                        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
                          h2
                            | WE ALSO CARRY A COUPLE OF AWARDS
                            br
                            | UNDER OUR BELTS.
                      .row
                        .col-xs-8.col-xs-offset-2.col-lg-6.col-lg-offset-3
                          p
                            | WERE CONSTANTLY INVITED AS JUDGES AND JURORS AT INTERNATIONAL DESIGN COMPETITIONS, WHICH MEANS WE MUST BE DOING SOMETHING RIGHT. 
                            br.visible-sm
                            | WERE ALWAYS HONORED TO ATTEND THESE EVENTS AND HELP EMERGING
                            br.visible-lg
                            | DESIGNERS LAUNCH THEIR CAREERS.
                .section.ten.fp-noscroll.fp-section.fp-table
                  .fp-tableCell
                    .container
                      .row
                        .col-xs-12.col-sm-10.col-sm-offset-1.col-lg-8.col-lg-offset-2
                          h3
                            | 10
                            span /
                            | 10
                          h1.glitch-text TECH NERDS.
                        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
                          h2 WE TALK ABOUT GADGETS, PROCESSES & COMMUNICATION.
                      .row
                        .col-xs-8.col-xs-offset-2.col-lg-6.col-lg-offset-3
                          p
                            | OUR NERDY ENTHUSIASM FOR TECH PUSHES US TO WORK AROUND CONTINUOUS IMPROVEMENT PRACTICES MAKING OUR METHODS LEAN AND EFFICIENT.
                .section.fp-auto-height.fp-section.fp-table
                  .fp-tableCell
                    include includes/footer.pug
                  
