- titulo = "Contact"
- tituloCabecera = "Headline"
- var subtituloCabecera = "Lorem ipsum dolor sit amet."



html(lang='es')
    include includes/head.pug

    body
        include includes/header.pug
        main.contact
          section.contact
            .container
              .row.title
                .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                  h1 WE PROBABLY WANT TO MEET YOU
            img.map(alt='' data-original='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/2213/original/Map.png?1509054141' src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/2213/normal/Map.png?1509054141')
        include includes/footer.pug  
            
