- titulo = "Home"
- tituloCabecera = "Headline"
- var subtituloCabecera = "Lorem ipsum dolor sit amet."

doctype
html(lang='es')

    include includes/head.pug

    body
        include includes/header.pug
        main.home
                section.work
                  .container
                    .row
                      .col-md-12.col-lg-12
                        ul.filter
                          li
                            a.transition(onclick="filterProjects('branding')")
                              span.transition
                              | branding
                          // 
                          li
                            a.transition(onclick="filterProjects('architecture')")
                              span.transition
                              | architecture
                          // 
                          li
                            a.transition(onclick="filterProjects('interactive')")
                              span.transition
                              | interactive
                          // 
                          li
                            a.transition(onclick="filterProjects('')")
                              span.transition
                              | everything
                    .row.grid.products
                      .grid-sizer.col-xs-4.col-sm-4.col-md-3.col-lg-2.col-mdlg-3.col-xlg-1
                      .col-xs-12.col-sm-4.col-md-3.col-lg-2.col-xlg-2.col-mdlg-3.box
                        a(href='/project/elims')
                          img.lazyload.thumb.loaded-img(alt='Branding, Interactive' src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/372/normal/Thumb_curadradoAnagrama.jpg?1654616246' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/372/normal/Thumb_curadradoAnagrama.jpg?1654616246')
                          h1 ELIMS
                          h2 Branding, Interactive
                          .division
                      .col-xs-12.col-sm-4.col-md-3.col-lg-2.col-xlg-2.col-mdlg-3.box
                        a(href='/project/san-marino')
                          img.lazyload.thumb.loaded-img(alt='Branding, Interactive' src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/373/normal/06_IG_%281%29.jpg?1657587204' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/373/normal/06_IG_%281%29.jpg?1657587204')
                          h1 San Marino
                          h2 Branding, Interactive
                          .division
                      .col-xs-12.col-sm-8.col-md-6.col-lg-4.col-xlg-3.col-mdlg-6.box
                        a(href='/project/alongside')
                          img.lazyload.thumb.loaded-img(alt='Branding' src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/374/normal/Thumb_horizontal_%284%29-min.png?1660059708' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/374/normal/Thumb_horizontal_%284%29-min.png?1660059708')
                          h1 Alongside
                          h2 Branding
                          .division
                      .col-xs-12.col-sm-4.col-md-3.col-lg-2.col-xlg-2.col-mdlg-3.box
                        a(href='/project/fits-smile')
                          img.lazyload.thumb.loaded-img(alt='Branding, Interactive' src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/375/normal/thumb_anagrama-min.png?1662479999' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/375/normal/thumb_anagrama-min.png?1662479999')
                          h1 Fits Smile
                          h2 Branding, Interactive
                          .division
                      .col-xs-12.col-sm-8.col-md-6.col-lg-4.col-xlg-3.col-mdlg-6.box
                        a(href='/project/newtype-ventures')
                          img.lazyload.thumb.loaded-img(alt='Branding, Interactive' src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6271/normal/Thumb_horizontal.png?1647017754' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6271/normal/Thumb_horizontal.png?1647017754')
                          h1 Newtype Ventures
                          h2 Branding, Interactive
                          .division
                      .col-xs-12.col-sm-4.col-md-3.col-lg-2.col-xlg-2.col-mdlg-3.box
                        a(href='/project/mauka')
                          img.lazyload.thumb.loaded-img(alt='Branding' src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6250/normal/A_rectangulo.png?1644433154' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6250/normal/A_rectangulo.png?1644433154')
                          h1 Mauka
                          h2 Branding
                          .division
                      .col-xs-12.col-sm-4.col-md-3.col-lg-2.col-xlg-2.col-mdlg-3.box
                        a(href='/project/bombavista')
                          img.lazyload.thumb.loaded-img(alt='Branding' src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/368/normal/A_rectangulo.png?1643655965' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/368/normal/A_rectangulo.png?1643655965')
                          h1 Bombavista
                          h2 Branding
                          .division
                      .col-xs-12.col-sm-8.col-md-6.col-lg-4.col-xlg-3.col-mdlg-6.box
                        a(href='/project/nazca')
                          img.lazyload.thumb.loaded-img(alt='Interactive' src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6285/normal/Thumb_horizontal.png?1651597117' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6285/normal/Thumb_horizontal.png?1651597117')
                          h1 Nazca 
                          h2 Interactive
                          .division
                      .col-xs-12.col-sm-8.col-md-6.col-lg-4.col-xlg-3.col-mdlg-6.box
                        a(href='/project/codebase')
                          img.lazyload.thumb(alt='Interactive' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/h8AAvMB+NzmkbcAAAAASUVORK5CYII=' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/367/normal/1_thumb.png?1642724484')
                          h1 Codebase
                          h2 Interactive
                          .division
                      .col-xs-12.col-sm-4.col-md-3.col-lg-2.col-xlg-2.col-mdlg-3.box
                        a(href='/project/metalsa-on')
                          img.lazyload.thumb.loaded-img(alt='Interactive' src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6181/normal/Thumb_Anagrama.png?1636571999' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6181/normal/Thumb_Anagrama.png?1636571999')
                          h1 Metalsa On
                          h2 Interactive
                          .division
                      .col-xs-12.col-sm-8.col-md-6.col-lg-4.col-xlg-3.col-mdlg-6.box
                        a(href='/project/colima-cayaco-rio-de-lumbre')
                          img.lazyload.thumb(alt='Branding' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/h8AAvMB+NzmkbcAAAAASUVORK5CYII=' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/364/normal/A_alargado_.png?1638384718')
                          h1 Colima | Cayaco Rio de Lumbre
                          h2 Branding
                          .division
                      .col-xs-12.col-sm-4.col-md-3.col-lg-2.col-xlg-2.col-mdlg-3.box
                        a(href='/project/antifine-dining')
                          img.lazyload.thumb(alt='Branding' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/h8AAvMB+NzmkbcAAAAASUVORK5CYII=' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6169/normal/A_rectangulo.png?1635866421')
                          h1 ANTIFINE DINING
                          h2 Branding
                          .division
                      .col-xs-12.col-sm-4.col-md-3.col-lg-2.col-xlg-2.col-mdlg-3.box
                        a(href='/project/sundae-by-momiji')
                          img.lazyload.thumb(alt='Interactive' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/h8AAvMB+NzmkbcAAAAASUVORK5CYII=' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/5708/normal/A_rectangulo.png?1617118293')
                          h1 Sundae by Momiji
                          h2 Interactive
                          .division
                      .col-xs-12.col-sm-8.col-md-6.col-lg-4.col-xlg-3.col-mdlg-6.box
                        a(href='/project/tlecan')
                          img.lazyload.thumb(alt='ARCHITECTURE' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/h8AAvMB+NzmkbcAAAAASUVORK5CYII=' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6180/normal/TLECAN_thumb.png?1636471529')
                          h1 Tlecan
                          h2 ARCHITECTURE
                          .division
                      .col-xs-12.col-sm-8.col-md-6.col-lg-4.col-xlg-3.col-mdlg-6.box
                        a(href='/project/tlecan-web')
                          img.lazyload.thumb(alt='Interactive, Art Direction' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/h8AAvMB+NzmkbcAAAAASUVORK5CYII=' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/365/normal/00_Thumb_anagrama.png?1638892319')
                          h1 Tlecan Web
                          h2 Interactive, Art Direction
                          .division
                      .col-xs-12.col-sm-8.col-md-6.col-lg-4.col-xlg-3.col-mdlg-6.box
                        a(href='/project/fictu-2021-ven-a-ver')
                          img.lazyload.thumb(alt='Branding' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/h8AAvMB+NzmkbcAAAAASUVORK5CYII=' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/360/normal/CoverAnagrama.png?1634230667')
                          h1 FICTU 2021 | Ven a ver
                          h2 Branding
                          .division
                      .col-xs-12.col-sm-4.col-md-3.col-lg-2.col-xlg-2.col-mdlg-3.box
                        a(href='/project/the-media-bar')
                          img.lazyload.thumb(alt='Interactive' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/h8AAvMB+NzmkbcAAAAASUVORK5CYII=' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/350/normal/A_rectangulo.png?1628529080')
                          h1 The Media Bar
                          h2 Interactive
                          .division
                      .col-xs-12.col-sm-4.col-md-3.col-lg-2.col-xlg-2.col-mdlg-3.box
                        a(href='/project/ny-cakepops')
                          img.lazyload.thumb(alt='Branding' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/h8AAvMB+NzmkbcAAAAASUVORK5CYII=' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/357/normal/A_rectangulo.png?1631575264')
                          h1 NY CakePops
                          h2 Branding
                          .division
                      .col-xs-12.col-sm-8.col-md-6.col-lg-4.col-xlg-3.col-mdlg-6.box
                        a(href='/project/casa-1910')
                          img.lazyload.thumb(alt='Branding' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/h8AAvMB+NzmkbcAAAAASUVORK5CYII=' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/353/normal/A_alargado_.png?1629740648')
                          h1 Casa 1910
                          h2 Branding
                          .division
                      .col-xs-12.col-sm-4.col-md-3.col-lg-2.col-xlg-2.col-mdlg-3.box
                        a(href='/project/satchels')
                          img.lazyload.thumb(alt='Branding' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/h8AAvMB+NzmkbcAAAAASUVORK5CYII=' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/5981/normal/THUMB.jpg?1626733703')
                          h1 Satchels
                          h2 Branding
                          .division
                      .col-xs-12.col-sm-8.col-md-6.col-lg-4.col-xlg-3.col-mdlg-6.box
                        a(href='/project/cristal-seal')
                          img.lazyload.thumb(alt='Branding' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/h8AAvMB+NzmkbcAAAAASUVORK5CYII=' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/358/normal/A_alargado_.png?1632178705')
                          h1 Cristal Seal
                          h2 Branding
                          .division
                      .col-xs-12.col-sm-4.col-md-3.col-lg-2.col-xlg-2.col-mdlg-3.box
                        a(href='/project/azulinda')
                          img.lazyload.thumb(alt='Branding' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/h8AAvMB+NzmkbcAAAAASUVORK5CYII=' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/5939/normal/THUMB.png?1625522502')
                          h1 Azulinda 
                          h2 Branding
                          .division
                      .col-xs-12.col-sm-4.col-md-3.col-lg-2.col-xlg-2.col-mdlg-3.box
                        a(href='/project/el-pintor-tequila-blanco')
                          img.lazyload.thumb(alt='Branding' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/h8AAvMB+NzmkbcAAAAASUVORK5CYII=' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/5861/normal/A_cuadrado.png?1621894718')
                          h1 EL PINTOR Tequila Blanco 
                          h2 Branding
                          .division
                      .col-xs-12.col-sm-8.col-md-6.col-lg-4.col-xlg-3.col-mdlg-6.box
                        a(href='/project/strahyd')
                          img.lazyload.thumb(alt='Interactive' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/h8AAvMB+NzmkbcAAAAASUVORK5CYII=' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6108/normal/A_alargado_.png?1632178775')
                          h1 Strahyd
                          h2 Interactive
                          .division
                      .col-xs-12.col-sm-8.col-md-6.col-lg-4.col-xlg-3.col-mdlg-6.box
                        a(href='/project/happy-people')
                          img.lazyload.thumb(alt='Branding and Interactive' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/h8AAvMB+NzmkbcAAAAASUVORK5CYII=' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6001/normal/A_alargado_.png?1627423925')
                          h1 Happy People
                          h2 Branding and Interactive
                          .division
                      .col-xs-12.col-sm-4.col-md-3.col-lg-2.col-xlg-2.col-mdlg-3.box
                        a(href='/project/yeya-kids')
                          img.lazyload.thumb(alt='Interactive' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/h8AAvMB+NzmkbcAAAAASUVORK5CYII=' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/338/normal/A_rectangulo.png?1621273743')
                          h1 Yeya Kids
                          h2 Interactive
                          .division
                      .pagination
                        span.previous_page.disabled
                          span.translation_missing(title='translation missing: en.will_paginate.previous_label') Previous Label
                        em.current 1
                        a(rel='next' href='/projects?data=scroll&page=2') 2
                        a(href='/projects?data=scroll&page=3') 3
                        a(href='/projects?data=scroll&page=4') 4
                        a(href='/projects?data=scroll&page=5') 5
                        a(href='/projects?data=scroll&page=6') 6
                        a(href='/projects?data=scroll&page=7') 7
                        a(href='/projects?data=scroll&page=8') 8
                        a(href='/projects?data=scroll&page=9') 9
                        a.next_page(rel='next' href='/projects?data=scroll&page=2')
                          span.translation_missing(title='translation missing: en.will_paginate.next_label') Next Label
                    .page-load-status
                      .posts-loader
                        .span
                          .typing_loader



        include includes/footer.pug
