- titulo = "Project-Single"
- tituloCabecera = "Headline"
- var subtituloCabecera = "Lorem ipsum dolor sit amet."



html(lang='es')
    include includes/head.pug

    body
        include includes/header.pug
        main.project-single
          section.project
            .container.title
              .row
                .col-md-12.col-lg-12
                  ul.filter
                    li
                      a.transition(href='/#branding')
                        span.transition
                        | branding
                    // 
                    li
                      a.transition(href='/#architecture')
                        span.transition
                        | architecture
                    // 
                    li
                      a.transition(href='/#interactive')
                        span.transition
                        | interactive
                    // 
                    li
                      a.transition(href='/')
                        span.transition
                        | everything
            .branding
              .container
                .row
                  .col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
                    h1 Alongside
                    h2 BRANDING
                .row
                  .col-md-12.col-lg-12.full-wrapper
                    a.pin-btn.transition(data-pin-custom='true' data-pin-log='button_pinit' data-pin-href='https://www.pinterest.com/pin/create/button?guid=KDDMtq3Xwwd_-1&url=https%3A%2F%2Fwww.anagrama.com%2Fproject%2Falongside&media=undefined&description=Alongside%20%7C%20Anagrama') pin
                    img.full.lazyload(alt='' src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6320/original/01_Anagrama_%282%29-min.png?1660059643' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6320/original/01_Anagrama_%282%29-min.png?1660059643')
                .row
                  .col-sm-5.col-sm-offset-1.col-md-5.col-md-offset-1.col-lg-5.col-lg-offset-1.client
                    h3 The client
                    .division
                    p.grey
                      | Alongside is a specialty coffee shop based in Abu Dhabi that seeks to position itself as a space of gathering and relaxation where people can enjoy a pleasant time surrounded by new flavors.
                  .col-sm-5.col-md-5.col-lg-5.values
                    .row
                      .col-sm-12.col-md-12.col-md-offset-0.col-lg-12.col-lg-offset-0
                        h3 keywords
                        .division
                    p.grey Coffee / Branding / Packaging / Beverage / Abu Dhabi
                    p.grey
                .row
                  .col-md-12.col-lg-12.full-wrapper
                    a.pin-btn.transition(data-pin-custom='true' data-pin-log='button_pinit' data-pin-href='https://www.pinterest.com/pin/create/button?guid=KDDMtq3Xwwd_-2&url=https%3A%2F%2Fwww.anagrama.com%2Fproject%2Falongside&media=undefined&description=Alongside%20%7C%20Anagrama') pin
                    img.full.lazyload(alt='' src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6321/original/02_Anagrama-min.png?1659374357' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6321/original/02_Anagrama-min.png?1659374357')
                .row
                  .col-sm-5.col-sm-offset-1.col-md-5.col-md-offset-1.col-lg-5.col-lg-offset-1.problem
                    h3 the objective
                    .division
                    p.grey
                      | This project&rsquo;s objective was to create an identity that connects with its audience in the most humanly possible way. The concept of Alongside stems from the analogy of the Baobab trees; these which are known for their beauty, oasis-like qualities, and symbolizing community.
                  .col-sm-5.col-md-5.col-lg-5.solution
                    h3 the solution
                    .division
                    p.grey
                      | A modern sans serif logo was designed, which through ligature, graphically reflects the name of the project and meaning: unity. As a graphic complement, we worked on the icon of a tree using clean and organic strokes that show the human and architectural essence of the brand.
                    p.grey
                      | Finally, a color palette was created with neutral tones and blue accents as a direct reference to the initial concept: a refreshing oasis.
                      br
                      | All these elements result in a timeless, joyful, and fresh brand that reflects the project&rsquo;s values. 
                      span.detail &mdash; (A)
                .row
                  .col-md-12.col-lg-12.full-wrapper
                    a.pin-btn.transition(data-pin-custom='true' data-pin-log='button_pinit' data-pin-href='https://www.pinterest.com/pin/create/button?guid=KDDMtq3Xwwd_-3&url=https%3A%2F%2Fwww.anagrama.com%2Fproject%2Falongside&media=undefined&description=Alongside%20%7C%20Anagrama') pin
                    img.full.lazyload(alt='' src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6322/original/03_Anagrama-min.png?1659374373' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6322/original/03_Anagrama-min.png?1659374373')
                .row
                  .col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
                    h1.quote
                      p
                        | All these elements result in a timeless, joyful, and fresh brand that reflects the project&rsquo;s values.
                .row
                  .col-md-12.col-lg-12.full-wrapper
                    a.pin-btn.transition(data-pin-custom='true' data-pin-log='button_pinit' data-pin-href='https://www.pinterest.com/pin/create/button?guid=KDDMtq3Xwwd_-4&url=https%3A%2F%2Fwww.anagrama.com%2Fproject%2Falongside&media=undefined&description=Alongside%20%7C%20Anagrama') pin
                    img.full.lazyload(src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6323/original/04_Anagrama-min.png?1659374383' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6323/original/04_Anagrama-min.png?1659374383')
                .row
                  .col-md-12.col-lg-12.full-wrapper
                    a.pin-btn.transition(data-pin-custom='true' data-pin-log='button_pinit' data-pin-href='https://www.pinterest.com/pin/create/button?guid=KDDMtq3Xwwd_-5&url=https%3A%2F%2Fwww.anagrama.com%2Fproject%2Falongside&media=undefined&description=Alongside%20%7C%20Anagrama') pin
                    img.full.lazyload(src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6324/original/05_Anagrama-min.png?1659374424' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6324/original/05_Anagrama-min.png?1659374424')
          section.share-project
            .container
              .row
                .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
                  ul.share
                    li Share this post
                    // 
                    li
                      a.transition(onclick='fbs_click()') Facebook
                    // 
                    li
                      a.transition(onclick='twit_click()') Twitter
                    // 
                    li
                      a.transition(onclick='pin_click()') Pinterest
                    // 
                    li
                      a.transition(onclick='tumblr_click()') Tumblr
                    // 
                    li
                      a.transition(onclick='google_click()') Google+
                    // 
                    li
                      a.transition(href='mailto:?subject=Alongside&body=https://www.anagrama.com/project/alongside') Mail
                    // 
                    li
                      a.transition(onclick='linkedin_click()') Linkedin
          section.suggested
            .container
              .row
                .col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
                  h1 SUGGESTED PROJECTS
              .row
                .col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
                  .box
                    a(href='/project/branding/amado-by-hyatt')
                      img.thumb.lazyload(alt='' src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/2086/normal/amado.jpg?1510877526' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/2086/normal/amado.jpg?1510877526' style='height: 213px;')
                      h2 Amado By Hyatt
                      .division
                  // 
                  .box
                    a(href='/project/branding/fuego-nectar')
                      img.thumb.lazyload(alt='' src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/2120/normal/Fuego_nectar_C_0001_001.jpg?1509585038' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/2120/normal/Fuego_nectar_C_0001_001.jpg?1509585038' style='height: 213px;')
                      h2 Fuego Nectar
                      .division
                  // 
                  .box
                    a(href='/project/branding/magno-brasserie')
                      img.thumb.lazyload(alt='' src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/2065/normal/magno.jpg?1510791106' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/2065/normal/magno.jpg?1510791106' style='height: 213px;')
                      h2 Magno Brasserie
                      .division
                  // 
          button.backtotop(style='display: none;')
            i.sprite-top
            | top
        include includes/footer.pug
    
