- titulo = "Services"
- tituloCabecera = "Headline"
- var subtituloCabecera = "Lorem ipsum dolor sit amet."



html(lang='es')
    include includes/head.pug

    body
        include includes/header.pug
        main.services
          section.disciplines
            .container
              .row.title
                .col-xs-12.col-1.col-offset-2
                  span.detail (A)
                .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-0
                  h1 THREE EXPERTISE AREAS IN ONE FLAT OFFICE
                .col-1
                  span.detail (A)
              .row
                .col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2.services_main
                  p.black
                    | Were a multidisciplinary studio with work spread out into three big branches. 
                    br
                    | For more information questions or feedback, please e-mail us at HELLO@ANAGRAMA.COM
              .row
                .col-sm-12
                  .discipline
                    .background
                    .content
                      h1 ARCHITECTURE
                  .discipline
                    .background
                    .content
                      h1 BRANDING
                  .discipline
                    .background
                    .content
                      h1 Interactive
              .row
                .col-8.col-offset-2
                  .division
          section.services
            .container
              .row.title
                .col-1.col-offset-2
                  span.detail (01)
                .col-sm-6
                  h1 SERVICES
                .col-1
                  span.detail (01)
              .row
                .col-sm-8.col-sm-offset-2
                  p.black
                    | A well managed and positioned brand represents a powerful asset for the companys total value. Its a sales tool and a client loyalty promoter. Since our creation we decided to break the traditional creative agency scheme, integrating multidisciplinary teams of creative experts.
                  .row.desktop.centered.services-list
                    .col-sm-4.col-md-3.service-item
                      h2 Copywriting
                      p.grey
                        | Naming systems
                        br
                        | Branding slogan
                        br
                        | Copywriting
                        br
                        | Storytelling
                    .col-sm-4.col-md-3.service-item
                      h2 Graphic Design
                      p.grey
                        | Visual identity and logotype
                        br
                        | Brand applications
                        br
                        | Packaging
                        br
                        | Signage
                        br
                        | Sales peripherals
                        br
                        | Digital and printed material
                    .col-sm-4.col-md-3.service-item
                      h2 Editorial
                      p.grey
                        | Books &amp; magazine design
                        br
                        | Typography design
                        br
                        | Poster design
                        br
                        | Brochures
                    .col-sm-4.col-md-3.service-item
                      h2 Illustration
                      p.grey
                        | Infographics
                        br
                        | Decorative Illustration
                        br
                        | Icon design
                        br
                        | Pattern design
                    .col-sm-4.col-md-3.service-item
                      h2 Web Design
                      p.grey
                        | User interface design
                        br
                        | User experience design
                        br
                        | Usability analysis
                    .col-sm-4.col-md-3.service-item
                      h2 Software
                      p.grey
                        | App development.
                        br
                        | Front End development.
                        br
                        | Back End development.
                    .col-sm-4.col-md-3.service-item
                      h2 Architecture
                      p.grey
                        | Retail Architecture
                        br
                        | Public Architecture
                        br
                        | Museography
                        br
                        | Construction Follow-up
                    .col-sm-4.col-md-3.service-item
                      h2 Interiorism
                      p.grey
                        | Furniture design
                        br
                        | Decorative items
                        br
                        | Industrial design
                  .row.mobile.centered.services-list
                    .col-sm-4.col-md-3.col-lg-3.service-item
                      h2 Copywriting
                      p.grey
                        | Naming systems
                        br
                        | Branding slogan
                        br
                        | Copywriting
                        br
                        | Storytelling
                    .col-sm-4.col-md-3.col-lg-3.service-item
                      h2 Graphic Design
                      p.grey
                        | Visual identity and logotype
                        br
                        | Brand applications
                        br
                        | Packaging
                        br
                        | Signage
                        br
                        | Sales peripherals
                        br
                        | Digital and printed material
                    .col-sm-4.col-md-3.col-lg-3.service-item
                      h2 Editorial
                      p.grey
                        | Books &amp; magazine design
                        br
                        | Typography design
                        br
                        | Poster design
                        br
                        | Brochures
                    .col-sm-4.col-md-3.col-lg-3.service-item
                      h2 Illustration
                      p.grey
                        | Infographics
                        br
                        | Decorative Illustration
                        br
                        | Icon design
                        br
                        | Pattern design
                    .col-sm-4.col-md-3.col-lg-3.service-item
                      h2 Web Design
                      p.grey
                        | User interface design
                        br
                        | User experience design
                        br
                        | Usability analysis
                    .col-sm-4.col-md-3.col-lg-3.service-item
                      h2 Software
                      p.grey
                        | App development.
                        br
                        | Front End development.
                        br
                        | Back End development.
                    .col-sm-4.col-md-3.col-lg-3.service-item
                      h2 Architecture
                      p.grey
                        | Retail Architecture
                        br
                        | Public Architecture
                        br
                        | Museography
                        br
                        | Construction Follow-up
                    .col-sm-4.col-md-3.col-lg-3.service-item
                      h2 Interiorism
                      p.grey
                        | Furniture design
                        br
                        | Decorative items
                        br
                        | Industrial design
                  .division(style='display:none;')
                  
                  
                  
    include includes/footer.pug  
