- titulo = "Blog"
- tituloCabecera = "Headline"
- var subtituloCabecera = "Lorem ipsum dolor sit amet."



html(lang='es')
    include includes/head.pug

    body
        include includes/header.pug
        main.stories
          section.blog
            section.blog-posts
              .container
                .row.m-0.filters-row
                  h3.filter-label Filter by
                  .col-12.mt-60.mt-md-70.filter-menu
                    ul#pills-tab.nav-content.nav.nav-pills(role='tablist')
                      li.nav-item.active(role='presentation')
                        a#pills-all-tab.nav-link.link(data-toggle='pill' href='/stories?category=all' role='tab' aria-controls='pills-terms' aria-selected='true' data-remote='true')
                          | All
                          span.qty 88
                      li.nav-item(role='presentation')
                        a#books.nav-link.link(data-toggle='pill' href='/stories?category=4' role='tab' aria-controls='pills-terms' aria-selected='true' data-remote='true')
                          | Books
                          span.qty 18
                      li.nav-item(role='presentation')
                        a#we-love.nav-link.link(data-toggle='pill' href='/stories?category=5' role='tab' aria-controls='pills-terms' aria-selected='true' data-remote='true')
                          | We Love
                          span.qty 19
                      li.nav-item(role='presentation')
                        a#archives.nav-link.link(data-toggle='pill' href='/stories?category=6' role='tab' aria-controls='pills-terms' aria-selected='true' data-remote='true')
                          | Archives
                          span.qty 17
                      li.nav-item(role='presentation')
                        a#process.nav-link.link(data-toggle='pill' href='/stories?category=7' role='tab' aria-controls='pills-terms' aria-selected='true' data-remote='true')
                          | Process
                          span.qty 11
                      li.nav-item(role='presentation')
                        a#featured.nav-link.link(data-toggle='pill' href='/stories?category=8' role='tab' aria-controls='pills-terms' aria-selected='true' data-remote='true')
                          | Featured
                          span.qty 11
                      li.nav-item(role='presentation')
                        a#anagrama.nav-link.link(data-toggle='pill' href='/stories?category=9' role='tab' aria-controls='pills-terms' aria-selected='true' data-remote='true')
                          | Anagrama
                          span.qty 6
                      li.nav-item(role='presentation')
                        a#posters.nav-link.link(data-toggle='pill' href='/stories?category=10' role='tab' aria-controls='pills-terms' aria-selected='true' data-remote='true')
                          | Posters
                          span.qty 3
                      li.nav-item(role='presentation')
                        a#conference.nav-link.link(data-toggle='pill' href='/stories?category=11' role='tab' aria-controls='pills-terms' aria-selected='true' data-remote='true')
                          | Conference
                          span.qty 1
                      li.nav-item(role='presentation')
                        a#awards.nav-link.link(data-toggle='pill' href='/stories?category=12' role='tab' aria-controls='pills-terms' aria-selected='true' data-remote='true')
                          | Awards
                          span.qty 1
                .post-list
                  .row
                    .blog-section.row-eq-height
                      .row.m-0
                        .col-xs-12.post-wrap
                          a(href='/stories/we-love-signage')
                            figure
                              img.lazyload.blog-section-image-large(src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/359/normal/THUMB_stories1.png?1632840869' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/359/normal/THUMB_stories1.png?1632840869' alt='We Love Signage' style='width: 100%; opacity: 1;')
                        .col-xs-12.col-sm-7.col-md-4.mb-sm
                          h3.post-category
                            | We Love
                          h2 We Love Signage
                        .col-xs-12.col-sm-5.pull-right
                          h3.h3.post-date Sep. 28. 2021
                          .post-description
                            // summary
                            p
                  .divisor
                    .col-xs-12.padding-divider
                      .divider
                  .row
                    .blog-section.row-eq-height
                      .row.m-0
                        .col-xs-12.col-sm-8.mb-13
                          a(href='/stories/victionary-palette-mini-series-ii')
                            figure
                              img.lazyload.blog-section-image(src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/354/normal/THUMB_stories.jpg?1629936502' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/354/normal/THUMB_stories.jpg?1629936502' alt='VICTIONARY PALETTE MINI SERIES II' style='width: 100%; opacity: 1;')
                        .col-xs-12.col-sm-4.post-card
                          h3.post-category
                            | Books
                          h2.post-title VICTIONARY PALETTE MINI SERIES II
                          .post-card-date
                            h3.post-date.h3 Aug. 31. 2021
                            a.h3.post-read-more(href='/stories/victionary-palette-mini-series-ii') Read More
                  .divisor
                    .col-xs-12.padding-divider
                      .divider
                  .row
                    .blog-section.row-eq-height
                      .row.m-0
                        .col-xs-12.col-sm-8.mb-13
                          a(href='/stories/how-design-make-us-think')
                            figure
                              img.lazyload.blog-section-image(src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/351/normal/THUMB_stories.jpg?1629147977' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/351/normal/THUMB_stories.jpg?1629147977' alt='How Design Make Us Think' style='width: 100%; opacity: 1;')
                        .col-xs-12.col-sm-4.post-card
                          h3.post-category
                            | Books
                          h2.post-title How Design Make Us Think
                          .post-card-date
                            h3.post-date.h3 Aug. 17. 2021
                            a.h3.post-read-more(href='/stories/how-design-make-us-think') Read More
                  .divisor
                    .col-xs-12.padding-divider
                      .divider
                  .row
                    .blog-section.row-eq-height
                      .row.m-0
                        .col-xs-12.col-sm-8.mb-13
                          a(href='/stories/strahyd-branding')
                            figure
                              img.lazyload.blog-section-image(src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/349/normal/THUMB_stories.jpg?1626990350' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/349/normal/THUMB_stories.jpg?1626990350' alt='Strahyd Branding' style='width: 100%; opacity: 1;')
                        .col-xs-12.col-sm-4.post-card
                          h3.post-category
                            | Anagrama
                          h2.post-title Strahyd Branding
                          .post-card-date
                            h3.post-date.h3 Jul. 27. 2021
                            a.h3.post-read-more(href='/stories/strahyd-branding') Read More
                  .divisor
                    .col-xs-12.padding-divider
                      .divider
                  .row
                    .blog-section.row-eq-height
                      .row.m-0
                        .col-xs-12.col-sm-8.mb-13
                          a(href='/stories/we-love-beverages')
                            figure
                              img.lazyload.blog-section-image(src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/347/normal/THUMB_stories.png?1626135318' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/347/normal/THUMB_stories.png?1626135318' alt='We Love Beverages' style='width: 100%; opacity: 1;')
                        .col-xs-12.col-sm-4.post-card
                          h3.post-category
                            | We Love
                          h2.post-title We Love Beverages
                          .post-card-date
                            h3.post-date.h3 Jul. 13. 2021
                            a.h3.post-read-more(href='/stories/we-love-beverages') Read More
                  .divisor
                    .col-xs-12.padding-divider
                      .divider
                  .row
                    .blog-section.row-eq-height
                      .row.m-0
                        .col-xs-12.post-wrap
                          a(href='/stories/brand-new-brand')
                            figure
                              img.lazyload.blog-section-image-large(src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/345/normal/THUMB_stories.jpg?1624923035' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/345/normal/THUMB_stories.jpg?1624923035' alt='Brand New Brand' style='width: 100%; opacity: 1;')
                        .col-xs-12.col-sm-7.col-md-4.mb-sm
                          h3.post-category
                            | Books
                          h2 Brand New Brand
                        .col-xs-12.col-sm-5.pull-right
                          h3.h3.post-date Jun. 29. 2021
                          .post-description
                            // summary
                            p
                  .divisor
                    .col-xs-12.padding-divider
                      .divider
                  .row
                    .blog-section.row-eq-height
                      .row.m-0
                        .col-xs-12.col-sm-8.mb-13
                          a(href='/stories/packaged-for-life')
                            figure
                              img.lazyload.blog-section-image(src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/340/normal/thumbA.png?1622510812' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/340/normal/thumbA.png?1622510812' alt='Packaged for Life ' style='width: 100%; opacity: 1;')
                        .col-xs-12.col-sm-4.post-card
                          h3.post-category
                            | Books
                          h2.post-title Packaged for Life 
                          .post-card-date
                            h3.post-date.h3 May. 31. 2021
                            a.h3.post-read-more(href='/stories/packaged-for-life') Read More
                  .divisor
                    .col-xs-12.padding-divider
                      .divider
                  .row
                    .blog-section.row-eq-height
                      .row.m-0
                        .col-xs-12.col-sm-8.mb-13
                          a(href='/stories/optimum-type')
                            figure
                              img.lazyload.blog-section-image(src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/334/normal/THUMB_stories.jpg?1618522227' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/334/normal/THUMB_stories.jpg?1618522227' alt='Optimum Type' style='width: 100%; opacity: 1;')
                        .col-xs-12.col-sm-4.post-card
                          h3.post-category
                            | Books
                          h2.post-title Optimum Type
                          .post-card-date
                            h3.post-date.h3 Apr. 20. 2021
                            a.h3.post-read-more(href='/stories/optimum-type') Read More
                  .divisor
                    .col-xs-12.padding-divider
                      .divider
                  .row
                    .blog-section.row-eq-height
                      .row.m-0
                        .col-xs-12.col-sm-8.mb-13
                          a(href='/stories/dot-line-shape')
                            figure
                              img.lazyload.blog-section-image(src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/332/normal/THUMB_storiesPP002.png?1617206702' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/332/normal/THUMB_storiesPP002.png?1617206702' alt='Dot Line Shape' style='width: 100%; opacity: 1;')
                        .col-xs-12.col-sm-4.post-card
                          h3.post-category
                            | Books
                          h2.post-title Dot Line Shape
                          .post-card-date
                            h3.post-date.h3 Apr. 06. 2021
                            a.h3.post-read-more(href='/stories/dot-line-shape') Read More
                  .divisor
                    .col-xs-12.padding-divider
                      .divider
                  .row
                    .blog-section.row-eq-height
                      .row.m-0
                        .col-xs-12.col-sm-8.mb-13
                          a(href='/stories/page-magazine')
                            figure
                              img.lazyload.blog-section-image(src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/330/normal/THUMB_stories.jpg?1616110843' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/330/normal/THUMB_stories.jpg?1616110843' alt='Page Magazine' style='width: 100%; opacity: 1;')
                        .col-xs-12.col-sm-4.post-card
                          h3.post-category
                            | Books
                          h2.post-title Page Magazine
                          .post-card-date
                            h3.post-date.h3 Mar. 23. 2021
                            a.h3.post-read-more(href='/stories/page-magazine') Read More
                  .divisor
                    .col-xs-12.padding-divider
                      .divider
            .paginator
              section.pager
                .container
                  .row
                    .col-xs-12.hidden-xs
                      .divider.divider-top
                    .col-md-5.col-xs-12.col-sm-6.pagination-container(style='margin: 0 auto;float: none;')
                      .row.paginator
                        span.previous_page.disabled Prev
                        em.current 01
                        a(rel='next' href='/stories?page=2') 02
                        a(href='/stories?page=3') 03
                        a(href='/stories?page=4') 04
                        a(href='/stories?page=5') 05
                        span.gap ...
                        a(href='/stories?page=8') 08
                        a(href='/stories?page=9') 09
                        a.next_page(rel='next' href='/stories?page=2') Next
                    .col-xs-12.hidden-xs
                      .divider.divider-bottom
            section.featured-posts
              .container
                .row
                  .col-xs-12.col-sm-5.col-md-3.col-lg-4.col-centered.featured-title
                    h3 Where we&rsquo;ve been featured
                  .col-xs-12.col-sm-12.col-md-7.col-lg-10.col-centered.featured-post-info
                    .post-item
                      a(href='https://www.itsnicethat.com/search?q=anagrama')
                        h1
                          span It&apos;s Nice That
                          span.posts-slash /
                          |  Anagrama looks to symbolism in cinema techniques for Distrito Films identity
                      .row.hidden-xs
                        .col-xs-4.col-xs-offset-2.col-sm-3.col-sm-offset-3
                          p.post-source It&apos;s Nice That
                        .col-xs-4.col-sm-3
                          p.post-date June. 08. 2016
                      .row.visible-xs
                        .col-xs-6
                          p
                            span.post-source It&apos;s Nice That
                        .col-xs-6
                          p
                            span.post-source
                              span.post-date June. 08. 2016
                    .post-item
                      a(href='https://mindsparklemag.com/design/orson-burger-identity/')
                        h1
                          span Mind Sparkle
                          span.posts-slash /
                          |  Orson Burger Identity
                      .row.hidden-xs
                        .col-xs-4.col-xs-offset-2.col-sm-3.col-sm-offset-3
                          p.post-source Mind Sparkle
                        .col-xs-4.col-sm-3
                          p.post-date October. 01. 2017
                      .row.visible-xs
                        .col-xs-6
                          p
                            span.post-source Mind Sparkle
                        .col-xs-6
                          p
                            span.post-source
                              span.post-date October. 01. 2017
                    .post-item
                      a(href='http://www.creativebloq.com/news/brand-impact-awards-2017')
                        h1
                          span Computer Arts
                          span.posts-slash /
                          |  Brand Impact Awards 2017: winners announced
                      .row.hidden-xs
                        .col-xs-4.col-xs-offset-2.col-sm-3.col-sm-offset-3
                          p.post-source Computer Arts
                        .col-xs-4.col-sm-3
                          p.post-date September. 17. 2017
                      .row.visible-xs
                        .col-xs-6
                          p
                            span.post-source Computer Arts
                        .col-xs-6
                          p
                            span.post-source
                              span.post-date September. 17. 2017
                  .col-sm-12
                    a.btn.btn-black(href='/press')
                      h4 Visit Press
          
    include includes/footer.pug
