- titulo = "Blog-Single"
- tituloCabecera = "Headline"
- var subtituloCabecera = "Lorem ipsum dolor sit amet."



html(lang='es')
    include includes/head.pug

    body
        include includes/header.pug
        main.stories-single
          section.single-post-wrap
            .container
              .row.m-0.filters-row
                h3.filter-label Filter by
                .col-12.mt-60.mt-md-70.filter-menu
                  ul.nav-content.nav.nav-pills
                    li.nav-item(role='presentation')
                      a.nav-link.link(href='/stories?category=all')
                        | All
                        span.qty 88
                    li.nav-item(role='presentation')
                      a.nav-link.link(href='/stories?category=4')
                        | Books
                        span.qty 18
                    li.nav-item(role='presentation')
                      a.nav-link.link(href='/stories?category=5')
                        | We Love
                        span.qty 19
                    li.nav-item(role='presentation')
                      a.nav-link.link(href='/stories?category=6')
                        | Archives
                        span.qty 17
                    li.nav-item(role='presentation')
                      a.nav-link.link(href='/stories?category=7')
                        | Process
                        span.qty 11
                    li.nav-item(role='presentation')
                      a.nav-link.link(href='/stories?category=8')
                        | Featured
                        span.qty 11
                    li.nav-item(role='presentation')
                      a.nav-link.link(href='/stories?category=9')
                        | Anagrama
                        span.qty 6
                    li.nav-item(role='presentation')
                      a.nav-link.link(href='/stories?category=10')
                        | Posters
                        span.qty 3
                    li.nav-item(role='presentation')
                      a.nav-link.link(href='/stories?category=11')
                        | Conference
                        span.qty 1
                    li.nav-item(role='presentation')
                      a.nav-link.link(href='/stories?category=12')
                        | Awards
                        span.qty 1
              .row.post-heading
                .col-12.mt-60.mt-md-70.text-center
                  h3.category-title
                    | We Love
                  h2 We Love Signage
                  h3.c-gray Sep. 28. 2021 (By Anagrama)
              .row
                .col-12.post-content.post-wrap
                  .social-mobile.d-none.col-xs-12.hidden-sm.hidden-md.hidden-lg
                    h3.c-gray
                      | Share
                    a.social-links(onclick='pin_click()')
                      img(src='/assets/anagrama/pinterest-p-brands.svg')
                    a.social-links(onclick='fbs_click()')
                      img(src='/assets/anagrama/facebook-f-brands.svg')
                    a.social-links(onclick='twit_click()')
                      img(src='/assets/anagrama/twitter-brands.svg')
                  p.col-xs-12.col-sm-12.col-md-9.col-lg-9
                    | We love signage is a compilation of some of our most outstanding signage projects for different places in multiple industries around the world.
                  .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    img.img.lazyload(src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6120/normal/1.png?1632840904' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6120/normal/1.png?1632840904' alt='We Love Signage')
                  .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    img.img.lazyload(src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6120/normal/1.png?1632840904' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6120/normal/1.png?1632840904' alt='We Love Signage')
                  .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    img.img.lazyload(src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6120/normal/1.png?1632840904' data-src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/assets/assets/assets/6120/normal/1.png?1632840904' alt='We Love Signage')
                .control-links
                  .col-xs-4.col-sm-2.col-md-2.col-lg-2.no-padding
                  .col-xs-4.col-xs-offset-4.col-sm-2.col-sm-offset-8.col-md-2.col-md-offset-8.col-lg-2.col-lg-offset-8.no-padding.align-next
                    a(href='victionary-palette-mini-series-ii') Next post
                    img.next-post(src='/assets/anagrama/flecha.svg')
          section.related
            .container
              .row
                hr
                .col-12.text-center
                  h2.related-title Other articles you might like
                .col-sm-6.col-lg-6
                  .related-image
                    a(href='/stories/we-love-boutique-bags')
                      img(src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/160/normal/Bags.png?1601338801')
                  .related-info
                    .info
                      .categories
                        h2
                          | We Love
                      .date.hidden-xs
                        h2.c-gray Mar. 28. 2017
                    .title
                      a(href='/stories/we-love-boutique-bags')
                        h3 We Love Boutique Bags
                    .info.hidden-sm.hidden-md.hidden-lg
                      .date
                        h2.c-gray Mar. 28. 2017
                      .categories
                        a(href='/stories/we-love-boutique-bags')
                          h2.c-gray Read More
                // related
                .col-sm-6.col-lg-6
                  .related-image
                    a(href='/stories/we-love-apparel')
                      img(src='https://anagrama-cdn.sfo2.cdn.digitaloceanspaces.com/production/assets/posts/images/309/normal/Thumb.jpg?1601417819')
                  .related-info
                    .info
                      .categories
                        h2
                          | We Love
                      .date.hidden-xs
                        h2.c-gray Aug. 11. 2020
                    .title
                      a(href='/stories/we-love-apparel')
                        h3 We Love Apparel
                    .info.hidden-sm.hidden-md.hidden-lg
                      .date
                        h2.c-gray Aug. 11. 2020
                      .categories
                        a(href='/stories/we-love-apparel')
                          h2.c-gray Read More
                // related
              
    include includes/footer.pug
    
