body footer ul{
	text-align: left;
}
.page-footer .brandt-logo{
	padding-left: 0;
	position: relative;
	top: -5px;
}
.page-footer .brandt-logo img{
	width: 110px;
}

.footer-separator{
	margin-top:0;
	margin-bottom:0;
}

/* ----------Footer---------- */

.page-footer{

	padding: 65px 0;
}
.custom-col {
	.list-unstyled {
		li{
			@media(max-width:480px){
				font-size: 14.5px;
				line-height: 1.2;
			}
		}
	}
	&:first-of-type{
		.list-unstyled{
			li{
				&:first-of-type{
					font-size: 14.5px;
					height: inherit;
					@media(max-width:480px){
						font-family: MintGrotesk-Bold;
					}
				}
			}
		}
	}
}
.list-unstyled a, .list-unstyled p{
	color: #212529;
	font-size: 14.5px;
	line-height: 1.2;
}
.list-unstyled p{
	font-weight: 400;
}
.list-unstyled a:hover{
	color:#9e9e9e;
	text-decoration: none;
}

.privacy .underline p {
	font-size: 30px;
	font-weight: 400;
	display: inline-block;
	padding-top:13px;
	padding-bottom: 5px;
	font-family: 'Karla', sans-serif;
	margin-bottom: 0;

	line-height: 30px;
}

.signup__email{
	width: 100%;
	font-size: 30px;
	border: none;
}
.signup__email:focus-visible{
	outline-style: none;
}
.signup {
	position: relative;
}
.signup-hide {
	display: none;
}
.thanks-hide {
	display: none;
}
.thanks-hide p {
	font-size: 30px;
	font-weight: bold;
}
.custom-hide{
	display: flex;
}
.signup__arrow {
	z-index: 2;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 42px;
	line-height: 44px;
	letter-spacing: -.02em;
	word-spacing: 0;
	margin: 0;
	padding: 0;
	background: transparent;
	outline: 0;
	border: 0;
	cursor: pointer;
}
#newsletter:hover{
	cursor: pointer;
	color: #9e9e9e;
}
.footer-logo{
	@media(max-width:480px){
		display: none;
	}
}
