
header{
  position: relative;
  .site-logo{
    width: 130px;
    margin-bottom: 8px;
    @media(max-width:480px){
      width: 100px;
    }
  }
  .phrase {
    font-weight: 600;
  }
  .copyright a span{
    display: none;
  }
  .nav-link {
    &:hover{
      color: #1c1c1c;
      text-decoration: underline;
    }
  }
  .mobile-hamburguer-wrap{
    z-index: 100001;
    position: fixed;
    top: 23px;
    left: 31px;
    cursor: pointer;
    top: 18px;
    left: 15px;
    transition: 0.3s;
    .mobile-hamburguer-bt{
      cursor: pointer;
      position: absolute;
      width: 22px;
      transition: all .2s ease-out;
      display: none;
      @media(max-width:480px){
        display: block;
      }

      .mobile-hamburguer-bt__stripe  {
        height: 1px;
        background: #999;
        margin: 4px auto;
        transition: all 0.3s;
        backface-visibility: hidden;
      }
    }
  }

}
.loader{
  position: absolute;
  inset: 0;
  background-color: var(--secondaryColor);
  opacity: 1;
  transition: opacity 1s ease-out;

  &:not(.active){
    opacity: 0;
    pointer-events: none;
  }
}
