// **** \\ STYLES_CSS // **** //
header .nav-link{
  padding: 0;
}
* {
  font-family: MintGrotesk-Regular;
  }
html, body{
   scroll-behavior: smooth;
}
body {
    // background: $primaryColor;
    overflow-x: hidden !important;


    @import "header";
    @import "footer";
    @import "pages/stylesGenerals";
    @import "pages/_home";
    @import "pages/_faqs";
    @import "pages/_about";
    @import "pages/_services";
    @import "pages/_contact";
    @import "pages/_stories";
    @import "pages/_index";
    @import "pages/_stories-single";
    @import "pages/_project-single";
}
